In [1]:
''' Libraries ''' 
import requests
import os
import pandas as pd
from fuzzywuzzy import process, fuzz
from urllib.request import urlopen

# $$ Global \space Functions $$

https://sumptuous-tangerine-983.notion.site/Subscriptions-56914582f1684af69c94b3dfe7635386

In [38]:
tabla = pd.read_excel('Merge.xlsx')
#tabla.drop(columns='Unnamed: 0', inplace=True)
tabla.head()

,tag_tiingo,desc_tiingo,tag_alpha,desc_alpha,tag_finmodprep,tag_finn,tag_eod,tag_sharadar
0,totalAssets,Total Assets,totalAssets,"Assets, Total",totalAssets,totalAssets,totalAssets,ASSETS
1,totalLiabilities,Total Liabilities,totalLiabilities,"Liabilities, Total",totalLiabilities,totalLiabilities,totalLiab,LIABILITIES
2,sga,"Selling, General & Administrative",sellingGeneralAndAdministrative,"Selling, General and Administrative Expense, T...",sellingGeneralAndAdministrativeExpenses,sgaExpense,sellingGeneralAdministrative,SGNA
3,rnd,Research & Development,researchAndDevelopment,"Research and Development Expense, Total",researchAndDevelopmentExpenses,researchDevelopment,researchDevelopment,RND
4,ebitda,EBITDA,ebitda,"Earnings Before Interest, Taxes, Depreciation,...",ebitda,ebit,ebitda,EBITDA

In [39]:
# ALPHA Vantage
columnas_Alpha  =['fiscalDateEnding', 'reportedCurrency']+ tabla.tag_alpha.tolist()
# SHARADAR
columnas_sharadar = ['ticker', 'reportperiod', 'datekey'] +  tabla.tag_sharadar.tolist()
for i in range(len(columnas_sharadar)):
    columnas_sharadar[i] = columnas_sharadar[i].lower()


    
# TIINGO
columnas_tiingo = tabla.tag_tiingo.tolist()
columnas_financial = tabla.tag_finmodprep.tolist()
columnas_finnhub = tabla.tag_finn.tolist()
columnas_eod = tabla.tag_eod.tolist()

In [4]:
def tag(nombre, api):
    name = nombre + '_'+api
    return name

# $$ Alpha \space Vantage$$

In [5]:
def alpha_vantage(ticker, period):
    global columnas_Alpha
    ['fiscalDateEnding', 'reportedCurrency'] + tabla.tag_alpha.tolist()
    url = f'https://www.alphavantage.co/query?function=Cash_flow&symbol={ticker}&apikey=6DWJBYP02X4S13GL'
    r = requests.get(url)
    data = r.json()
    df_cash = pd.DataFrame(data[period])
    

    url = f'https://www.alphavantage.co/query?function=Balance_Sheet&symbol={ticker}&apikey=6DWJBYP02X4S13GL'
    r = requests.get(url)
    data = r.json()
    df_balance = pd.DataFrame(data[period])

    url = f'https://www.alphavantage.co/query?function=Income_Statement&symbol={ticker}&apikey=6DWJBYP02X4S13GL'
    r = requests.get(url)
    data = r.json()
    df_income = pd.DataFrame(data[period])
    
    df_alpha = pd.concat([ df_cash, df_balance , df_income], axis=1)
    df_alpha = df_alpha[columnas_Alpha]
    df_alpha = df_alpha.loc[:, ~df_alpha.columns.duplicated()]
    df_alpha.fiscalDateEnding = pd.to_datetime(df_alpha.fiscalDateEnding)
    df_alpha['fiscalDateEnding'] = df_alpha.fiscalDateEnding.dt.strftime('%Y-%m')
    dict_alpha = {}
    for i in range(len(df_alpha.columns)):
        dict_alpha[df_alpha.columns[i]] = tag(df_alpha.columns[i],'alpha' )
    df_alpha.rename(columns=dict_alpha, inplace=True)
    df_alpha.insert(0,'ticker_alpha' , f'{ticker}')
    '''
    ''' 
    
    return df_alpha

In [6]:
df_alpha = alpha_vantage('AAPL','annualReports')
df_alpha

,ticker_alpha,fiscalDateEnding_alpha,reportedCurrency_alpha,totalAssets_alpha,totalLiabilities_alpha,sellingGeneralAndAdministrative_alpha,researchAndDevelopment_alpha,ebitda_alpha,deferredRevenue_alpha,costOfRevenue_alpha,...,inventory_alpha,operatingIncome_alpha,comprehensiveIncomeNetOfTax_alpha,currentAccountsPayable_alpha,cashAndShortTermInvestments_alpha,commonStock_alpha,currentNetReceivables_alpha,capitalExpenditures_alpha,totalShareholderEquity_alpha,changeInOperatingAssets_alpha
0,AAPL,2022-09,USD,352755000000,302083000000,25094000000,26251000000,130207000000,20312000000,248640000000,...,4946000000,119437000000,88531000000,64115000000,48304000000,64849000000,60932000000,10708000000,50672000000,14358000000
1,AAPL,2021-09,USD,351002000000,287912000000,21973000000,21914000000,123136000000,19512000000,234954000000,...,6580000000,108949000000,95249000000,54763000000,62639000000,57365000000,51506000000,11085000000,63090000000,24712000000
2,AAPL,2020-09,USD,323888000000,258549000000,19916000000,18752000000,81020000000,16843000000,189475000000,...,4061000000,66288000000,57453000000,42296000000,90943000000,50779000000,37445000000,7309000000,65339000000,1245000000
3,AAPL,2019-09,USD,338516000000,248028000000,18245000000,16217000000,81860000000,13622000000,180027000000,...,4106000000,63930000000,58037000000,46236000000,100557000000,45174000000,45804000000,10495000000,90488000000,-3760000000
4,AAPL,2018-09,USD,365725000000,258578000000,16705000000,14236000000,87046000000,14766000000,163756000000,...,3956000000,70898000000,56505000000,55888000000,25913000000,40201000000,48995000000,13313000000,107147000000,12927000000

## -----------------------------------------
# $$Sharadar$$

In [7]:
def sharadar(tick):
    import nasdaqdatalink
    nasdaqdatalink.ApiConfig.api_key = "rxxWsjphD1YghSYo-LWD"

    df_sharadar = nasdaqdatalink.get_table('SHARADAR/SF1', ticker=f'{tick}')    
    df_sharadar = df_sharadar[columnas_sharadar]
    ''' add _sharadar to column names'''
    dict_sharadar = {}
    for i in range(len(columnas_sharadar)):
        dict_sharadar[columnas_sharadar[i]] = tag(columnas_sharadar[i], 'sharadar')
    df_sharadar.rename(columns=dict_sharadar, inplace=True)
    ''' datekey to date_time type''' 
    df_sharadar.datekey_sharadar = pd.to_datetime(df_sharadar.datekey_sharadar)
    df_sharadar.datekey_sharadar = df_sharadar.datekey_sharadar.dt.strftime('%Y-%m')
    return df_sharadar

In [9]:
df_sharadar = sharadar('AAPL')
df_sharadar

,ticker_sharadar,reportperiod_sharadar,datekey_sharadar,assets_sharadar,liabilities_sharadar,sgna_sharadar,rnd_sharadar,ebitda_sharadar,deferredrev_sharadar,cor_sharadar,...,inventory_sharadar,opinc_sharadar,accoci_sharadar,payables_sharadar,cashneq_sharadar,dps_sharadar,receivables_sharadar,capex_sharadar,equity_sharadar,opinc_sharadar
None,,,,,,,,,,,,,,,,,,,,,
0,AAPL,2022-09-24,2022-09,3.527550e+11,3.020830e+11,2.509400e+10,2.625100e+10,1.331380e+11,7.912000e+09,2.235460e+11,...,4.946000e+09,1.194370e+11,-1.110900e+10,6.411500e+10,2.364600e+10,0.900,6.093200e+10,-1.070800e+10,5.067200e+10,1.194370e+11
1,AAPL,2021-09-25,2021-09,3.510020e+11,2.879120e+11,2.197300e+10,2.191400e+10,1.231360e+11,7.612000e+09,2.129810e+11,...,6.580000e+09,1.089490e+11,1.630000e+08,5.476300e+10,3.494000e+10,0.850,5.150600e+10,-1.108500e+10,6.309000e+10,1.089490e+11
2,AAPL,2020-09-26,2020-09,3.238880e+11,2.585490e+11,1.991600e+10,1.875200e+10,8.102000e+10,6.643000e+09,1.695590e+11,...,4.061000e+09,6.628800e+10,-4.060000e+08,4.229600e+10,3.801600e+10,0.795,3.744500e+10,-7.309000e+09,6.533900e+10,6.628800e+10
3,AAPL,2019-09-28,2019-09,3.385160e+11,2.480280e+11,1.824500e+10,1.621700e+10,8.186000e+10,5.522000e+09,1.617820e+11,...,4.106000e+09,6.393000e+10,-5.840000e+08,4.623600e+10,4.884400e+10,0.750,4.580400e+10,-1.049500e+10,9.048800e+10,6.393000e+10
4,AAPL,2018-09-29,2018-09,3.657250e+11,2.585780e+11,1.670500e+10,1.423600e+10,8.704600e+10,5.966000e+09,1.637560e+11,...,3.956000e+09,7.089800e+10,-3.454000e+09,5.588800e+10,2.591300e+10,0.680,4.899500e+10,-1.331300e+10,1.071470e+11,7.089800e+10
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
460,AAPL,1998-09-25,1998-12,4.289000e+09,2.647000e+09,2.350000e+08,7.300000e+07,1.370000e+08,0.000000e+00,1.139000e+09,...,7.800000e+07,1.090000e+08,0.000000e+00,7.190000e+08,1.481000e+09,0.000,9.550000e+08,-7.000000e+06,1.642000e+09,1.090000e+08
461,AAPL,1998-06-26,1998-08,4.041000e+09,2.555000e+09,2.160000e+08,7.600000e+07,1.410000e+08,0.000000e+00,1.042000e+09,...,1.290000e+08,6.100000e+07,0.000000e+00,5.730000e+08,1.203000e+09,0.000,9.150000e+08,1.700000e+07,1.486000e+09,6.100000e+07
462,AAPL,1998-03-27,1998-05,3.963000e+09,2.575000e+09,2.230000e+08,7.500000e+07,8.700000e+07,0.000000e+00,1.056000e+09,...,2.570000e+08,5.100000e+07,0.000000e+00,5.230000e+08,1.285000e+09,0.000,8.070000e+08,-5.000000e+06,1.388000e+09,5.100000e+07
463,AAPL,1997-12-26,1998-02,4.126000e+09,2.882000e+09,2.340000e+08,7.900000e+07,7.500000e+07,0.000000e+00,1.225000e+09,...,4.040000e+08,4.000000e+07,0.000000e+00,6.550000e+08,1.193000e+09,0.000,9.020000e+08,3.800000e+07,1.244000e+09,4.000000e+07
464,AAPL,1997-09-26,1997-12,4.233000e+09,3.033000e+09,NaN,NaN,NaN,0.000000e+00,NaN,...,4.370000e+08,NaN,0.000000e+00,6.850000e+08,1.230000e+09,0.000,1.035000e+09,NaN,1.200000e+09,NaN

## MERGE

In [138]:
df = pd.merge(df_alpha, df_sharadar, left_on=['fiscalDateEnding_alpha', 'ticker_alpha'], right_on=['datekey_sharadar', 'ticker_sharadar'], how='inner').drop_duplicates('fiscalDateEnding_alpha')
df#.to_excel('merge_test.xlsx')

,ticker_alpha,fiscalDateEnding_alpha,reportedCurrency_alpha,totalAssets_alpha,totalLiabilities_alpha,sellingGeneralAndAdministrative_alpha,researchAndDevelopment_alpha,ebitda_alpha,deferredRevenue_alpha,costOfRevenue_alpha,...,inventory_sharadar,opinc_sharadar,accoci_sharadar,payables_sharadar,cashneq_sharadar,dps_sharadar,receivables_sharadar,capex_sharadar,equity_sharadar,opinc_sharadar
0,AAPL,2022-09,USD,352755000000,302083000000,25094000000,26251000000,130207000000,20312000000,248640000000,...,4.946000e+09,1.194370e+11,-1.110900e+10,6.411500e+10,2.364600e+10,0.900,6.093200e+10,-1.070800e+10,5.067200e+10,1.194370e+11
3,AAPL,2021-09,USD,351002000000,287912000000,21973000000,21914000000,123136000000,19512000000,234954000000,...,6.580000e+09,1.089490e+11,1.630000e+08,5.476300e+10,3.494000e+10,0.850,5.150600e+10,-1.108500e+10,6.309000e+10,1.089490e+11
6,AAPL,2020-09,USD,323888000000,258549000000,19916000000,18752000000,81020000000,16843000000,189475000000,...,4.061000e+09,6.628800e+10,-4.060000e+08,4.229600e+10,3.801600e+10,0.795,3.744500e+10,-7.309000e+09,6.533900e+10,6.628800e+10
9,AAPL,2019-09,USD,338516000000,248028000000,18245000000,16217000000,81860000000,13622000000,180027000000,...,4.106000e+09,6.393000e+10,-5.840000e+08,4.623600e+10,4.884400e+10,0.750,4.580400e+10,-1.049500e+10,9.048800e+10,6.393000e+10
12,AAPL,2018-09,USD,365725000000,258578000000,16705000000,14236000000,87046000000,14766000000,163756000000,...,3.956000e+09,7.089800e+10,-3.454000e+09,5.588800e+10,2.591300e+10,0.680,4.899500e+10,-1.331300e+10,1.071470e+11,7.089800e+10

## -------------------------------------------------------
# $$ Tiingo $$

In [56]:
import requests

headers = {
        'Content-Type': 'application/json',
        'Authorization' : 'Token 41215ee240ce2f36eb1cd500d85f8663801366e2'
        }
requestResponse = requests.get("https://api.tiingo.com/tiingo/fundamentals/AAPL/statements",
                                    headers=headers)
#df_tiingo = pd.DataFrame(requestResponse.json())
requestResponse

AttributeError: module 'requests' has no attribute 'get_dataframe'

In [13]:
df_tiingo.iloc[0].statementData.keys()#['cashFlow']

dict_keys(['incomeStatement', 'balanceSheet', 'cashFlow', 'overview'])

In [32]:
df_tiingo

,date,year,quarter,statementData
0,2022-09-24,2022,4,"{'incomeStatement': [{'dataCode': 'ebitda', 'v..."
1,2022-09-24,2022,0,"{'incomeStatement': [{'dataCode': 'ebit', 'val..."
2,2022-06-25,2022,3,{'balanceSheet': [{'dataCode': 'liabilitiesNon...
3,2022-03-26,2022,2,"{'balanceSheet': [{'dataCode': 'deferredRev', ..."
4,2021-12-25,2022,1,"{'balanceSheet': [{'dataCode': 'taxAssets', 'v..."
5,2021-09-25,2021,4,"{'cashFlow': [{'dataCode': 'issrepayEquity', '..."
6,2021-09-25,2021,0,"{'cashFlow': [{'dataCode': 'ncfo', 'value': 10..."
7,2021-06-26,2021,3,{'cashFlow': [{'dataCode': 'investmentsAcqDisp...
8,2021-03-27,2021,2,"{'incomeStatement': [{'dataCode': 'rnd', 'valu..."
9,2020-12-26,2021,1,"{'incomeStatement': [{'dataCode': 'opex', 'val..."
10,2020-09-26,2020,4,"{'cashFlow': [{'dataCode': 'ncfx', 'value': 0...."
11,2020-09-26,2020,0,{'incomeStatement': [{'dataCode': 'netIncDiscO...
12,2020-06-27,2020,3,"{'cashFlow': [{'dataCode': 'ncf', 'value': -80..."
13,2020-03-28,2020,2,"{'balanceSheet': [{'dataCode': 'accoci', 'valu..."
14,2019-12-28,2020,1,"{'balanceSheet': [{'dataCode': 'investments', ..."

In [55]:
list_columns = []
df_income = pd.DataFrame()
for j in range(3):
    '''incomeStatement''' 
    dict_tiingo = {}
    for i in range(len(df_tiingo.iloc[j]['statementData']['incomeStatement'])):
        column_name = df_tiingo.iloc[j]['statementData']['incomeStatement'][i]['dataCode']
        value       = df_tiingo.iloc[j]['statementData']['incomeStatement'][i]['value'] 
        dict_tiingo[column_name]=value
        print(column_name, ':', value)
    print('-------------------------------')
    ''' BalanceSheet'''
    for i in range(len(df_tiingo.iloc[j]['statementData']['balanceSheet'])):
        column_name = df_tiingo.iloc[j]['statementData']['balanceSheet'][i]['dataCode']
        value       = df_tiingo.iloc[j]['statementData']['balanceSheet'][i]['value'] 
        dict_tiingo[column_name]=value
        print(column_name, ':', value)
    print('-------------------------------')

    '''CashFlow'''
    for i in range(len(df_tiingo.iloc[j]['statementData']['cashFlow'])):
        column_name = df_tiingo.iloc[j]['statementData']['cashFlow'][i]['dataCode']
        value       = df_tiingo.iloc[j]['statementData']['cashFlow'][i]['value'] 
        dict_tiingo[column_name]=value
        print(column_name, ':', value)
    print('-------------------------------')        
    #print(dict_tiingo.keys())
    df_new = pd.DataFrame(dict_tiingo, index=[1])
    #print(df_tiingo.iloc[j].date)
    df_new.insert(0, 'date', df_tiingo.iloc[j].date)
    df_new.insert(1, 'quarter', df_tiingo.iloc[j].quarter)
    #display(df_new)
    df_income = pd.concat([df_income, df_new], axis=0)


display(df_income)
print(df_income.columns)

ebitda : 28349000000.0
netIncComStock : 20721000000.0
epsDil : 1.29
consolidatedIncome : 20721000000.0
nonControllingInterests : 0.0
shareswaDil : 16118465000.0
intexp : 827000000.0
rnd : 6761000000.0
eps : 1.29
netIncDiscOps : 0.0
grossProfit : 38095000000.0
shareswa : 16030380000.0
opex : 13201000000.0
ebt : 24657000000.0
netinc : 20721000000.0
revenue : 90146000000.0
ebit : 25484000000.0
taxExp : 3936000000.0
opinc : 24894000000.0
sga : 6440000000.0
costRev : 52051000000.0
prefDVDs : 0.0
-------------------------------
debtCurrent : 21110000000.0
taxAssets : 0.0
investmentsCurrent : 24658000000.0
totalAssets : 352755000000.0
acctPay : 64115000000.0
accoci : -11109000000.0
inventory : 4946000000.0
totalLiabilities : 302083000000.0
acctRec : 60932000000.0
intangibles : 0.0
ppeq : 42117000000.0
deferredRev : 7912000000.0
cashAndEq : 23646000000.0
assetsNonCurrent : 217350000000.0
taxLiabilities : 0.0
investments : 145463000000.0
equity : 50672000000.0
retainedEarnings : -3068000000.0
deposits : 0.0
assetsCurrent : 135405000000.0
investmentsNonCurrent : 120805000000.0
debt : 120069000000.0
debtNonCurrent : 98959000000.0
liabilitiesNonCurrent : 148101000000.0
liabilitiesCurrent : 153982000000.0
sharesBasic : 16070752000.0
-------------------------------
ncfi : -1217000000.0
capex : -3289000000.0
ncfx : 0.0
ncff : -26794000000.0
sbcomp : 2278000000.0
ncf : -3884000000.0
payDiv : -3703000000.0
businessAcqDisposals : -137000000.0
issrepayDebt : 1657000000.0
issrepayEquity : -24428000000.0
investmentsAcqDisposals : 2806000000.0
freeCashFlow : 20838000000.0
ncfo : 24127000000.0
depamor : 2865000000.0
-------------------------------
ebit : 122034000000.0
epsDil : 6.11
rnd : 26251000000.0
shareswa : 16215963000.0
taxExp : 19300000000.0
opinc : 119437000000.0
costRev : 223546000000.0
grossProfit : 170782000000.0
ebitda : 133138000000.0
nonControllingInterests : 0.0
netIncDiscOps : 0.0
eps : 6.15
intexp : 2931000000.0
shareswaDil : 16325819000.0
revenue : 394328000000.0
netinc : 99803000000.0
opex : 51345000000.0
consolidatedIncome : 99803000000.0
netIncComStock : 99803000000.0
ebt : 119103000000.0
prefDVDs : 0.0
sga : 25094000000.0
-------------------------------
investmentsNonCurrent : 120805000000.0
taxLiabilities : 0.0
investments : 145463000000.0
totalAssets : 352755000000.0
deferredRev : 7912000000.0
debtCurrent : 21110000000.0
assetsCurrent : 135405000000.0
debt : 120069000000.0
acctPay : 64115000000.0
accoci : -11109000000.0
ppeq : 42117000000.0
retainedEarnings : -3068000000.0
assetsNonCurrent : 217350000000.0
cashAndEq : 23646000000.0
totalLiabilities : 302083000000.0
acctRec : 60932000000.0
taxAssets : 0.0
debtNonCurrent : 98959000000.0
sharesBasic : 16070752000.0
liabilitiesCurrent : 153982000000.0
equity : 50672000000.0
inventory : 4946000000.0
intangibles : 0.0
investmentsCurrent : 24658000000.0
deposits : 0.0
liabilitiesNonCurrent : 148101000000.0
-------------------------------
capex : -10708000000.0
ncff : -110749000000.0
issrepayDebt : -123000000.0
ncfx : 0.0
freeCashFlow : 111443000000.0
depamor : 11104000000.0
sbcomp : 9038000000.0
ncf : -10952000000.0
ncfo : 122151000000.0
ncfi : -22354000000.0
issrepayEquity : -89402000000.0
businessAcqDisposals : -306000000.0
payDiv : -14841000000.0
investmentsAcqDisposals : -9560000000.0
-------------------------------
consolidatedIncome : 19442000000.0
sga : 6012000000.0
prefDVDs : 0.0
ebt : 23066000000.0
netIncComStock : 19442000000.0
opex : 12809000000.0
netinc : 19442000000.0
ebit : 23785000000.0
shareswaDil : 16262203000.0
grossProfit : 35885000000.0
eps : 1.2
netIncDiscOps : 0.0
nonControllingInterests : 0.0
ebitda : 26590000000.0
costRev : 47074000000.0
opinc : 23076000000.0
shareswa : 16162945000.0
taxExp : 3624000000.0
epsDil : 1.2
intexp : 719000000.0
revenue : 82959000000.0
rnd : 6797000000.0
-------------------------------
liabilitiesNonCurrent : 148329000000.0
intangibles : 0.0
deposits : 0.0
investmentsCurrent : 20729000000.0
inventory : 5433000000.0
equity : 58107000000.0
retainedEarnings : 5289000000.0
liabilitiesCurrent : 129873000000.0
sharesBasic : 16185181000.0
debtNonCurrent : 94700000000.0
acctRec : 42242000000.0
taxAssets : 0.0
totalLiabilities : 278202000000.0
cashAndEq : 27502000000.0
assetsNonCurrent : 224017000000.0
ppeq : 40335000000.0
accoci : -9297000000.0
acctPay : 48343000000.0
debtCurrent : 24991000000.0
assetsCurrent : 112292000000.0
debt : 119691000000.0
deferredRev : 7728000000.0
totalAssets : 336309000000.0
investments : 151806000000.0
taxLiabilities : 0.0
investmentsNonCurrent : 131077000000.0
-------------------------------
businessAcqDisposals : -2000000.0
investmentsAcqDisposals : 6953000000.0
payDiv : -3811000000.0
issrepayEquity : -21865000000.0
sbcomp : 2243000000.0
ncfi : 4234000000.0
ncfo : 22892000000.0
ncf : -319000000.0
ncfx : 0.0
depamor : 2805000000.0
freeCashFlow : 20790000000.0
issrepayDebt : 971000000.0
ncff : -27445000000.0
capex : -2102000000.0
-------------------------------

,date,quarter,ebitda,netIncComStock,epsDil,consolidatedIncome,nonControllingInterests,shareswaDil,intexp,rnd,...,sbcomp,ncf,payDiv,businessAcqDisposals,issrepayDebt,issrepayEquity,investmentsAcqDisposals,freeCashFlow,ncfo,depamor
1,2022-09-24,4,2.834900e+10,2.072100e+10,1.29,2.072100e+10,0.0,1.611846e+10,8.270000e+08,6.761000e+09,...,2.278000e+09,-3.884000e+09,-3.703000e+09,-137000000.0,1.657000e+09,-2.442800e+10,2.806000e+09,2.083800e+10,2.412700e+10,2.865000e+09
1,2022-09-24,0,1.331380e+11,9.980300e+10,6.11,9.980300e+10,0.0,1.632582e+10,2.931000e+09,2.625100e+10,...,9.038000e+09,-1.095200e+10,-1.484100e+10,-306000000.0,-1.230000e+08,-8.940200e+10,-9.560000e+09,1.114430e+11,1.221510e+11,1.110400e+10
1,2022-06-25,3,2.659000e+10,1.944200e+10,1.20,1.944200e+10,0.0,1.626220e+10,7.190000e+08,6.797000e+09,...,2.243000e+09,-3.190000e+08,-3.811000e+09,-2000000.0,9.710000e+08,-2.186500e+10,6.953000e+09,2.079000e+10,2.289200e+10,2.805000e+09

Index(['date', 'quarter', 'ebitda', 'netIncComStock', 'epsDil',
       'consolidatedIncome', 'nonControllingInterests', 'shareswaDil',
       'intexp', 'rnd', 'eps', 'netIncDiscOps', 'grossProfit', 'shareswa',
       'opex', 'ebt', 'netinc', 'revenue', 'ebit', 'taxExp', 'opinc', 'sga',
       'costRev', 'prefDVDs', 'debtCurrent', 'taxAssets', 'investmentsCurrent',
       'totalAssets', 'acctPay', 'accoci', 'inventory', 'totalLiabilities',
       'acctRec', 'intangibles', 'ppeq', 'deferredRev', 'cashAndEq',
       'assetsNonCurrent', 'taxLiabilities', 'investments', 'equity',
       'retainedEarnings', 'deposits', 'assetsCurrent',
       'investmentsNonCurrent', 'debt', 'debtNonCurrent',
       'liabilitiesNonCurrent', 'liabilitiesCurrent', 'sharesBasic', 'ncfi',
       'capex', 'ncfx', 'ncff', 'sbcomp', 'ncf', 'payDiv',
       'businessAcqDisposals', 'issrepayDebt', 'issrepayEquity',
       'investmentsAcqDisposals', 'freeCashFlow', 'ncfo', 'depamor'],
      dtype='object')

In [45]:
print(df_income.columns.sort_values())

Index(['accoci', 'acctPay', 'acctRec', 'assetsCurrent', 'assetsNonCurrent',
       'businessAcqDisposals', 'capex', 'cashAndEq', 'consolidatedIncome',
       'costRev', 'date', 'debt', 'debtCurrent', 'debtNonCurrent',
       'deferredRev', 'depamor', 'deposits', 'ebit', 'ebitda', 'ebt', 'eps',
       'epsDil', 'equity', 'freeCashFlow', 'grossProfit', 'intangibles',
       'intexp', 'inventory', 'investments', 'investmentsAcqDisposals',
       'investmentsCurrent', 'investmentsNonCurrent', 'issrepayDebt',
       'issrepayEquity', 'liabilitiesCurrent', 'liabilitiesNonCurrent', 'ncf',
       'ncff', 'ncfi', 'ncfo', 'ncfx', 'netIncComStock', 'netIncDiscOps',
       'netinc', 'nonControllingInterests', 'opex', 'opinc', 'payDiv', 'ppeq',
       'prefDVDs', 'quarter', 'retainedEarnings', 'revenue', 'rnd', 'sbcomp',
       'sga', 'sharesBasic', 'shareswa', 'shareswaDil', 'taxAssets', 'taxExp',
       'taxLiabilities', 'totalAssets', 'totalLiabilities'],
      dtype='object')

In [43]:
print(columnas_tiingo)

['accoci', 'acctPay', 'acctRec', 'capex', 'cashAndEq', 'costRev', 'debtCurrent', 'deferredRev', 'ebitda', 'equity', 'grossProfit', 'intangibles', 'inventory', 'investments', 'investmentsAcqDisposals', 'netIncComStock', 'opMargin', 'opinc', 'ppeq', 'revenue', 'rnd', 'sga', 'totalAssets', 'totalLiabilities']

In [47]:
columnas_tiingo in list(df_income.columns)

False

## -------------------------------------------------------
# $$ EOD $$

In [87]:
columnas_eod = ['date']+ tabla.tag_eod.tolist()
dict_eod = {}
for i in range(len(columnas_eod)):
    dict_eod[columnas_eod[i]] = columnas_eod[i]+'_eod'

In [117]:
from eodhd import APIClient
import os
from eod import EodHistoricalData

In [119]:
api_key = '60ee983ba13887.41798715'
client = EodHistoricalData(api_key)

In [120]:
symbolAU = 'AAPL'
resp = client.get_fundamental_equity(symbolAU, filter_='Financials::Cash_Flow::yearly')
print(resp.keys())

dict_keys(['2022-09-30', '2021-09-30', '2020-09-30', '2019-09-30', '2018-09-30', '2017-09-30', '2016-09-30', '2015-09-30', '2014-09-30', '2013-09-30', '2012-09-30', '2011-09-30', '2010-09-30', '2009-09-30', '2008-09-30', '2007-09-30', '2006-09-30', '2005-09-30', '2004-09-30', '2003-09-30', '2002-09-30', '2001-09-30', '2000-09-30', '1999-09-30', '1998-09-30', '1997-09-30', '1996-09-30', '1995-09-30', '1994-09-30', '1993-09-30', '1992-09-30', '1991-09-30', '1990-09-30', '1989-09-30'])

### Cash_flow

In [121]:

columns = list(resp['2021-09-30'].keys())
cash_flow = pd.DataFrame(columns=columns)

for i in resp.keys():#(len(resp.keys())):
    cash_flow = pd.concat([cash_flow, pd.DataFrame(resp[f'{i}'], index=[0,1])])
cash_flow = cash_flow.drop_duplicates()
cash_flow

,date,filing_date,currency_symbol,investments,changeToLiabilities,totalCashflowsFromInvestingActivities,netBorrowings,totalCashFromFinancingActivities,changeToOperatingActivities,netIncome,...,otherCashflowsFromFinancingActivities,changeToNetincome,capitalExpenditures,changeReceivables,cashFlowsOtherOperating,exchangeRateChanges,cashAndCashEquivalentsChanges,changeInWorkingCapital,otherNonCashItems,freeCashFlow
0,2022-09-30,2022-10-28,USD,-9560000000.00,9926000000.00,-22354000000.00,-123000000.00,-110749000000.00,-8387000000.00,99803000000.00,...,3037000000.00,10044000000.00,10708000000,None,None,None,None,1311000000.00,None,111443000000.00
0,2021-09-30,2021-10-29,USD,-3075000000.00,14002000000.00,-14545000000.00,12665000000.00,-93353000000.00,-6146000000.00,94680000000.00,...,14730000000.00,2985000000.00,11085000000,-14028000000.00,-6366000000.00,None,-3860000000.00,-4911000000.00,-147000000.00,92953000000.00
0,2020-09-30,2020-10-30,USD,5335000000.00,4854000000.00,-4289000000.00,2499000000.00,-86820000000.00,881000000.00,57411000000.00,...,11368000000.00,6517000000.00,7309000000,8470000000.00,-7507000000.00,None,-10435000000.00,5690000000.00,-97000000.00,73365000000.00
0,2019-09-30,2019-10-31,USD,58093000000.00,-6623000000.00,45896000000.00,-7819000000.00,-90976000000.00,-896000000.00,55256000000.00,...,-1936000000.00,5076000000.00,10495000000,3176000000.00,248000000.00,None,24311000000.00,-3488000000.00,-652000000.00,58896000000.00
0,2018-09-30,2018-11-05,USD,30845000000.00,47621000000.00,16066000000.00,432000000.00,-87876000000.00,30016000000.00,59531000000.00,...,4405000000.00,-27694000000.00,13313000000,-13332000000.00,-423000000.00,None,5624000000.00,34694000000.00,-444000000.00,64121000000.00
0,2017-09-30,2017-11-03,USD,-33542000000.00,8838000000.00,-46446000000.00,29014000000.00,-17347000000.00,-8480000000.00,48351000000.00,...,31267000000.00,10640000000.00,12795000000,-6347000000.00,-5318000000.00,None,-195000000.00,-5550000000.00,-166000000.00,50803000000.00
0,2016-09-30,2016-10-26,USD,-32022000000.00,-1867000000.00,-45977000000.00,22057000000.00,-20483000000.00,-902000000.00,45687000000.00,...,23394000000.00,9148000000.00,13548000000,1044000000.00,1090000000.00,None,-636000000.00,484000000.00,4696000000.00,52276000000.00
0,2015-09-30,2015-10-28,USD,-44417000000.00,15188000000.00,-56274000000.00,29305000000.00,-17716000000.00,5040000000.00,53394000000.00,...,28555000000.00,4968000000.00,11488000000,611000000.00,-3914000000.00,None,7276000000.00,11647000000.00,3586000000.00,69778000000.00
0,2014-09-30,2014-10-27,USD,-9017000000.00,13408000000.00,-22579000000.00,18266000000.00,-37549000000.00,3957000000.00,39510000000.00,...,17847000000.00,5210000000.00,9813000000,-6452000000.00,167000000.00,None,-415000000.00,7047000000.00,2863000000.00,49900000000.00
0,2013-09-30,2013-10-30,USD,-24042000000.00,8320000000.00,-33774000000.00,16896000000.00,-16379000000.00,None,37037000000.00,...,16515000000.00,3394000000.00,9076000000,-1949000000.00,1080000000.00,None,3513000000.00,6478000000.00,2253000000.00,44590000000.00
0,2012-09-30,2012-10-31,USD,-38427000000.00,9843000000.00,-48227000000.00,None,-1698000000.00,None,41733000000.00,...,125000000.00,6145000000.00,9402000000,-6965000000.00,-3162000000.00,None,931000000.00,-299000000.00,1740000000.00,41454000000.00
0,2011-09-30,2011-10-26,USD,-32464000000.00,8664000000.00,-40419000000.00,None,1444000000.00,None,25922000000.00,...,613000000.00,4036000000.00,7452000000,-1791000000.00,-1391000000.00,None,-1446000000.00,5757000000.00,1168000000.00,30077000000.00
0,2010-09-30,2010-10-27,USD,-11093000000.00,8302000000.00,-13854000000.00,None,1257000000.00,None,14013000000.00,...,345000000.00,2343000000.00,2121000000,-4860000000.00,-1634000000.00,None,5998000000.00,1212000000.00,24000000.00,16474000000.00
0,2009-09-30,2009-10-27,USD,-16147000000.00,452000000.00,-17434000000.00,None,663000000.00,None,5704000000.00,...,188000000.00,1776000000.00,1213000000,-939000000.00,-153000000.00,None,-6612000000.00,3535000000.00,26000000.00,8946000000.00
0,2008-09-30,2008-11-05,USD,None,596000000.00,None,None,1116000000.00,None,4834000000.00,...,757000000.00,None,1199000000,None,None,None,None,4119000000.00,22000000.00,8397000000.00
0,2007-09-30,2007-11-15,USD,None,1494000000.00,None,None,739000000.00,None,3496000000.00,...,377000000.00,None,986000000,None,None,None,None,1325000000.00,12000000.00,4484000000.00
0,2006-09-30,2006-12-29,USD,None,1611000000.00,357000000.00,None,324000000.00,None,1989000000.00,...,361000000.00,None,657000000,None,None,None,None,-221000000.00,11000000.00,1563000000.00
0,2005-09-30,2005-12-01,USD,None,328000000.00,None,None,543000000.00,None,1335000000.00,...,-2556000000.00,None,260000000,None,None,None,None,465000000.00,9000000.00,2275000000.00
0,2004-09-30,2004-12-03,USD,None,297000000.00,None,None,127000000.00,None,276000000.00,...,-1488000000.00,None,176000000,None,None,None,None,448000000.00,7000000.00,758000000.00
0,2003-09-30,2003-12-19,USD,None,243000000.00,828000000.00,None,27000000.00,None,69000000.00,...,828000000.00,None,164000000,None,None,None,None,126000000.00,-24000000.00,125000000.00
0,2002-09-30,2002-12-19,USD,None,110000000.00,None,None,105000000.00,None,65000000.00,...,-252000000.00,None,174000000,None,None,None,None,-103000000.00,43000000.00,-85000000.00
0,2001-09-30,2001-12-21,USD,None,None,892000000.00,None,42000000.00,None,-25000000.00,...,892000000.00,None,232000000,None,None,None,None,211000000.00,-67000000.00,-47000000.00
0,2000-09-30,2000-12-14,USD,None,318000000.00,None,None,-31000000.00,None,786000000.00,...,-930000000.00,None,107000000,None,None,None,None,157000000.00,-364000000.00,719000000.00
0,1999-09-30,1999-12-22,USD,None,None,None,None,11000000.00,None,601000000.00,...,-964000000.00,None,47000000,None,None,None,None,377000000.00,-230000000.00,751000000.00
0,1998-09-30,1998-09-25,USD,None,None,None,None,19000000.00,None,309000000.00,...,3000000.00,None,56000000,None,None,None,None,387000000.00,-33000000.00,719000000.00
0,1997-09-30,1997-12-05,USD,None,None,None,None,23000000.00,None,-1045000000.00,...,150000000.00,None,53000000,None,None,None,None,670000000.00,452000000.00,135000000.00
0,1996-09-30,1996-12-19,USD,None,None,None,None,396000000.00,None,-816000000.00,...,646000000.00,None,67000000,None,None,None,None,1109000000.00,509000000.00,452000000.00
0,1995-09-30,1995-12-19,USD,None,None,None,None,195000000.00,None,424000000.00,...,169000000.00,None,159000000,None,None,None,None,-797000000.00,-67000000.00,-399000000.00
0,1994-09-30,1994-12-13,USD,None,None,None,None,-208118000.00,None,310178000.00,...,-233627000.00,None,159587000,None,None,None,None,247729000.00,-29670000.00,577408000.00
0,1993-09-30,1993-09-30,USD,None,None,None,None,346900000.00,None,86600000.00,...,590700000.00,None,213100000,None,None,None,None,-946700000.00,13200000.00,-874900000.00
0,1992-09-30,1992-09-30,USD,None,None,None,None,-76700000.00,None,530400000.00,...,35900000.00,None,194900000,None,None,None,None,20700000.00,14500000.00,688800000.00
0,1991-09-30,1991-09-30,USD,None,None,None,None,42500000.00,None,309800000.00,...,26000000.00,None,218300000,None,None,None,None,-400700000.00,7200000.00,-89600000.00
0,1990-09-30,1990-09-30,USD,None,None,None,None,-454000000.00,None,474900000.00,...,65900000.00,None,224300000,None,None,None,None,145300000.00,2100000.00,739600000.00
0,1989-09-30,1989-09-30,USD,None,None,None,None,-38300000.00,None,454000000.00,...,-71100000.00,None,239000000,None,None,None,None,-109000000.00,-73800000.00,268300000.00

### Balance_Sheet

In [223]:
symbolAU = 'AAPL'
resp = client.get_fundamental_equity(symbolAU, filter_='Financials::Balance_Sheet::yearly')
print(resp.keys())

dict_keys(['2021-09-30', '2020-09-30', '2019-09-30', '2018-09-30', '2017-09-30', '2016-09-30', '2015-09-30', '2014-09-30', '2013-09-30', '2012-09-30', '2011-09-30', '2010-09-30', '2009-09-30', '2008-09-30', '2007-09-30', '2006-09-30', '2005-09-30', '2004-09-30', '2003-09-30', '2002-09-30', '2001-09-30', '2000-09-30', '1999-09-30', '1998-09-30', '1997-09-30', '1996-09-30', '1995-09-30', '1994-09-30', '1993-09-30', '1992-09-30', '1991-09-30', '1990-09-30', '1989-09-30', '1988-09-30', '1987-09-30', '1986-09-30', '1985-09-30'])

In [225]:
columns = list(resp['2021-09-30'].keys())
balance = pd.DataFrame(columns=columns)
for i in resp.keys():#(len(resp.keys())):
    balance = pd.concat([balance, pd.DataFrame(resp[f'{i}'], index=[0,1])])
balance = balance.drop_duplicates()
balance.head()

,date,filing_date,currency_symbol,totalAssets,intangibleAssets,earningAssets,otherCurrentAssets,totalLiab,totalStockholderEquity,deferredLongTermLiab,...,preferredStockRedeemable,capitalSurpluse,liabilitiesAndStockholdersEquity,cashAndShortTermInvestments,propertyPlantAndEquipmentGross,propertyPlantAndEquipmentNet,accumulatedDepreciation,netWorkingCapital,netInvestedCapital,commonStockSharesOutstanding
0,2021-09-30,2021-10-29,USD,351002000000.00,None,None,14111000000.00,287912000000.00,63090000000.00,None,...,None,None,351002000000.00,62639000000.00,None,39440000000.00,None,9355000000.00,187809000000.00,16864919000.00
0,2020-09-30,2020-10-30,USD,323888000000.00,None,None,11264000000.00,258549000000.00,65339000000.00,None,...,None,None,323888000000.00,90943000000.00,36766000000.00,36766000000.00,None,38321000000.00,177775000000.00,17528214000.00
0,2019-09-30,2019-10-31,USD,338516000000.00,None,None,12352000000.00,248028000000.00,90488000000.00,None,...,None,None,338516000000.00,100557000000.00,37378000000.00,37378000000.00,None,57101000000.00,198535000000.00,18595652000.00
0,2018-09-30,2018-11-05,USD,365725000000.00,None,None,12087000000.00,258578000000.00,107147000000.00,2797000000.00,...,None,None,365725000000.00,66301000000.00,41304000000.00,41304000000.00,None,14473000000.00,221630000000.00,20000436000.00
0,2017-09-30,2017-11-03,USD,375319000000.00,2298000000.00,None,13936000000.00,241272000000.00,134047000000.00,2836000000.00,...,None,None,375319000000.00,74181000000.00,33783000000.00,33783000000.00,None,27831000000.00,249727000000.00,21006768000.00

### IncomeStatement

In [226]:
symbolAU = 'AAPL'
resp = client.get_fundamental_equity(symbolAU, filter_='Financials::Income_Statement::yearly')
print(resp.keys())

dict_keys(['2021-09-30', '2020-09-30', '2019-09-30', '2018-09-30', '2017-09-30', '2016-09-30', '2015-09-30', '2014-09-30', '2013-09-30', '2012-09-30', '2011-09-30', '2010-09-30', '2009-09-30', '2008-09-30', '2007-09-30', '2006-09-30', '2005-09-30', '2004-09-30', '2003-09-30', '2002-09-30', '2001-09-30', '2000-09-30', '1999-09-30', '1998-09-30', '1997-09-30', '1996-09-30', '1995-09-30', '1994-09-30', '1993-09-30', '1992-09-30', '1991-09-30', '1990-09-30', '1989-09-30', '1988-09-30', '1987-09-30', '1986-09-30', '1985-09-30'])

In [228]:
columns = list(resp['2021-09-30'].keys())
income = pd.DataFrame(columns=columns)
for i in resp.keys():#(len(resp.keys())):
    income = pd.concat([income, pd.DataFrame(resp[f'{i}'], index=[0,1])])
income = income.drop_duplicates()
income.head()

,date,filing_date,currency_symbol,researchDevelopment,effectOfAccountingCharges,incomeBeforeTax,minorityInterest,netIncome,sellingGeneralAdministrative,sellingAndMarketingExpenses,...,otherItems,incomeTaxExpense,totalRevenue,totalOperatingExpenses,costOfRevenue,totalOtherIncomeExpenseNet,discontinuedOperations,netIncomeFromContinuingOps,netIncomeApplicableToCommonShares,preferredStockAndOtherAdjustments
0,2021-09-30,2021-10-29,USD,21914000000.00,None,109207000000.00,None,94680000000.00,21973000000.00,None,...,None,14527000000.00,365817000000.00,43887000000.00,212981000000.00,258000000.00,None,94680000000.00,94680000000.00,None
0,2020-09-30,2020-10-30,USD,18752000000.00,None,67091000000.00,None,57411000000.00,19916000000.00,None,...,None,9680000000.00,274515000000.00,38668000000.00,169559000000.00,803000000.00,None,57411000000.00,57411000000.00,None
0,2019-09-30,2019-10-31,USD,16217000000.00,None,65737000000.00,None,55256000000.00,18245000000.00,None,...,None,10481000000.00,260174000000.00,34462000000.00,161782000000.00,1807000000.00,None,55256000000.00,55256000000.00,None
0,2018-09-30,2018-11-05,USD,14236000000.00,None,72903000000.00,None,59531000000.00,16705000000.00,None,...,None,13372000000.00,265595000000.00,30941000000.00,163756000000.00,2005000000.00,None,59531000000.00,59531000000.00,None
0,2017-09-30,2017-11-03,USD,11581000000.00,None,64089000000.00,None,48351000000.00,15261000000.00,None,...,None,15738000000.00,229234000000.00,26842000000.00,141048000000.00,2745000000.00,None,48351000000.00,48351000000.00,None

### Merging the 3 df

In [259]:
df = pd.concat([balance.reset_index(drop=True), income.reset_index(drop=True), cash_flow.reset_index(drop=True)], axis=1)
df.drop_duplicates(inplace=True)
df = df[columnas_eod]
df_sharadar = df.loc[:, ~df.columns.duplicated()]
df_sharadar.rename(columns=dict_eod, inplace=True)
del df

df_sharadar.head()

C:\Users\KNL\AppData\Local\Packages\PythonSoftwareFoundation.Python.3.9_qbz5n2kfra8p0\LocalCache\local-packages\Python39\site-packages\pandas\core\frame.py:5039: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  return super().rename(

,date_eod,totalAssets_eod,totalLiab_eod,sellingGeneralAdministrative_eod,researchDevelopment_eod,ebitda_eod,currentDeferredRevenue_eod,costOfRevenue_eod,grossProfit_eod,netDebt_eod,...,operatingIncome_eod,accumulatedOtherComprehensiveIncome_eod,accountsPayable_eod,cashAndShortTermInvestments_eod,commonStock_eod,netReceivables_eod,capitalExpenditures_eod,totalStockholderEquity_eod,changeToOperatingActivities_eod,ticker_eod
0,2021-09-30,351002000000.00,287912000000.00,21973000000.00,21914000000.00,123136000000.00,7612000000.00,212981000000.00,152836000000.00,89779000000.00,...,108949000000.00,163000000.00,54763000000.00,62639000000.00,57365000000.00,51506000000.00,11085000000,63090000000.00,-6146000000.00,AAPL
1,2020-09-30,323888000000.00,258549000000.00,19916000000.00,18752000000.00,81020000000.00,6643000000.00,169559000000.00,104956000000.00,74420000000.00,...,66288000000.00,-406000000.00,42296000000.00,90943000000.00,50779000000.00,37445000000.00,7309000000,65339000000.00,881000000.00,AAPL
2,2019-09-30,338516000000.00,248028000000.00,18245000000.00,16217000000.00,81860000000.00,5522000000.00,161782000000.00,98392000000.00,59203000000.00,...,63930000000.00,-584000000.00,46236000000.00,100557000000.00,45174000000.00,45804000000.00,10495000000,90488000000.00,-896000000.00,AAPL
3,2018-09-30,365725000000.00,258578000000.00,16705000000.00,14236000000.00,87046000000.00,7543000000.00,163756000000.00,101839000000.00,88570000000.00,...,70898000000.00,-3454000000.00,55888000000.00,66301000000.00,40201000000.00,48995000000.00,13313000000,107147000000.00,30016000000.00,AAPL
4,2017-09-30,375319000000.00,241272000000.00,15261000000.00,11581000000.00,76569000000.00,7548000000.00,141048000000.00,88186000000.00,95391000000.00,...,61344000000.00,-150000000.00,49049000000.00,74181000000.00,35867000000.00,35673000000.00,12795000000,134047000000.00,-8480000000.00,AAPL