## $$FUNCTIONS$$

There is a function for each API

In [124]:
def eod(ticker):
    ''' Libraries ''' 
    import requests
    import os
    import pandas as pd
    from urllib.request import urlopen
    import functools as ft
    from eodhd import APIClient
    import os
    from eod import EodHistoricalData
    import pickle

    '''Request'''
    api_key = '60ee983ba13887.41798715'
    client = EodHistoricalData(api_key)
    data = client.get_fundamental_equity(f'{ticker}')
    data['Financials'].keys()

    ''' Data Transformation'''
    tabla = pd.read_excel('../Merge.xlsx')
    columns = ['date'] + list(tabla.tag_eod)
    '''
    Balance Sheet
    '''
    df = pd.DataFrame(data['Financials']['Balance_Sheet'])
    df_balance = pd.DataFrame()
    for j in range(len(df)):
        try:
            df2 = pd.DataFrame(df.iloc[j].yearly, index=[0])
            df_balance = pd.concat([df_balance, df2], axis=0)
        except:
            pass
    '''
    Cash Flow
    '''
    df = pd.DataFrame(data['Financials']['Cash_Flow'])
    df_cash = pd.DataFrame()
    for k in range(len(df)):
        try:
            df2 = pd.DataFrame(df.iloc[k].yearly, index=[0])
            df_cash = pd.concat([df_cash, df2], axis=0)
        except:
            pass
    '''
    Income Statement
    '''
    df = pd.DataFrame(data['Financials']['Income_Statement'])
    df_income = pd.DataFrame()
    for p in range(len(df)):
        try:
            df2 = pd.DataFrame(df.iloc[p].yearly, index=[0])
            df_income = pd.concat([df_income, df2], axis=0)
        except:
            pass
    
    dfs = [df_cash, df_income, df_balance]
    df_final = ft.reduce(lambda left, right: pd.merge(left, right, on='date'), dfs)
    df_final['date']= pd.to_datetime(df_final.date)
    df_final['date']= df_final.date.dt.strftime('%Y-%m')
    df_final = df_final[columns]
    df_final.insert(1, 'ticker', ticker)
    ''' Renaming columns'''
    with open('saved_dictionary.pkl', 'rb') as f:
        dict = pickle.load(f)
    df_final.rename(columns=dict['eod'], inplace=True)


    df_final.to_csv('Data\eod.csv')
    return df_final

In [125]:
eod('IBM')

,date,ticker,totalAssets_eod,totalLiab_eod,sellingGeneralAdministrative_eod,researchDevelopment_eod,ebitda_eod,currentDeferredRevenue_eod,costOfRevenue_eod,grossProfit_eod,...,cashAndEquivalents_eod,inventory_eod,accumulatedOtherComprehensiveIncome_eod,accountsPayable_eod,cashAndShortTermInvestments_eod,commonStock_eod,netReceivables_eod,capitalExpenditures_eod,totalStockholderEquity_eod,changeToOperatingActivities_eod
0,2021-12,IBM,132001000000.00,113005000000.00,17699000000.00,6488000000.00,13438000000.00,12518000000.00,25865000000.00,31486000000.00,...,6650000000.00,1649000000.00,-23234000000.00,3955000000.00,7250000000.00,57319000000.00,14977000000.00,2768000000,18901000000.00,-346000000.00
1,2020-12,IBM,155970000000.00,135245000000.00,20308000000.00,6333000000.00,12709000000.00,12833000000.00,38046000000.00,35575000000.00,...,13188000000.00,1839000000.00,-29337000000.00,4908000000.00,13812000000.00,56556000000.00,18738000000.00,3230000000,20597000000.00,4974000000.00
2,2019-12,IBM,152186000000.00,131201000000.00,18107000000.00,5989000000.00,17565000000.00,12026000000.00,40659000000.00,36488000000.00,...,8172000000.00,1619000000.00,-28597000000.00,4896000000.00,8868000000.00,55895000000.00,23795000000.00,2907000000,20841000000.00,1159000000.00
3,2018-12,IBM,123382000000.00,106452000000.00,17397000000.00,5379000000.00,16550000000.00,11165000000.00,42655000000.00,36935000000.00,...,11379000000.00,1682000000.00,-29490000000.00,6558000000.00,11997000000.00,55151000000.00,30563000000.00,3964000000,16796000000.00,-451000000.00
4,2017-12,IBM,125355000000.00,107631000000.00,18110000000.00,5787000000.00,16551000000.00,11552000000.00,42913000000.00,36226000000.00,...,11972000000.00,1583000000.00,-26592000000.00,6451000000.00,12580000000.00,54566000000.00,31630000000.00,3773000000,17594000000.00,5451000000.00
5,2016-12,IBM,117470000000.00,99078000000.00,19152000000.00,5751000000.00,17332000000.00,11035000000.00,41625000000.00,38295000000.00,...,7826000000.00,1553000000.00,-29398000000.00,6209000000.00,8527000000.00,53935000000.00,29245000000.00,4150000000,18246000000.00,462000000.00
6,2015-12,IBM,110491000000.00,96071000000.00,18604000000.00,5247000000.00,20094000000.00,11021000000.00,41057000000.00,40685000000.00,...,None,1551000000.00,-29607000000.00,6028000000.00,8194000000.00,53262000000.00,28554000000.00,4151000000,14262000000.00,-3222000000.00
7,2014-12,IBM,117532000000.00,105518000000.00,21165000000.00,5437000000.00,21232000000.00,11877000000.00,46386000000.00,46407000000.00,...,None,2103000000.00,-27875000000.00,6864000000.00,8476000000.00,52666000000.00,31831000000.00,4183000000,11868000000.00,-2541000000.00
8,2013-12,IBM,126223000000.00,103294000000.00,21681000000.00,6226000000.00,24604000000.00,12557000000.00,51246000000.00,48505000000.00,...,None,2310000000.00,-21602000000.00,7461000000.00,11066000000.00,51594000000.00,31836000000.00,4140000000,22792000000.00,None
9,2012-12,IBM,119213000000.00,100229000000.00,21835000000.00,6302000000.00,27037000000.00,11952000000.00,54209000000.00,50298000000.00,...,None,2287000000.00,-25759000000.00,7952000000.00,11129000000.00,50110000000.00,30578000000.00,4717000000,18860000000.00,None
10,2011-12,IBM,116433000000.00,96197000000.00,21844000000.00,6258000000.00,26229000000.00,12196000000.00,56778000000.00,50138000000.00,...,None,2595000000.00,-21885000000.00,8517000000.00,11922000000.00,48129000000.00,29561000000.00,4667000000,20138000000.00,None
11,2010-12,IBM,113452000000.00,90280000000.00,20208000000.00,6026000000.00,24922000000.00,11580000000.00,53857000000.00,46013000000.00,...,None,2450000000.00,-18743000000.00,7804000000.00,11651000000.00,45418000000.00,28225000000.00,4754000000,23046000000.00,None
12,2009-12,IBM,109022000000.00,86267000000.00,19269000000.00,5820000000.00,23534000000.00,10845000000.00,51973000000.00,43785000000.00,...,None,2494000000.00,-18830000000.00,7436000000.00,13974000000.00,41810000000.00,26793000000.00,4077000000,22637000000.00,None
13,2008-12,IBM,109524000000.00,96059000000.00,23386000000.00,6337000000.00,22838000000.00,10239000000.00,57969000000.00,45661000000.00,...,None,2701000000.00,-21845000000.00,7014000000.00,12907000000.00,39129000000.00,27555000000.00,4887000000,13465000000.00,None
14,2007-12,IBM,120431000000.00,91961000000.00,22060000000.00,6153000000.00,20301000000.00,9802000000.00,57057000000.00,41729000000.00,...,None,2664000000.00,-3414000000.00,8054000000.00,16146000000.00,35188000000.00,28789000000.00,5505000000,28470000000.00,None
15,2006-12,IBM,103234000000.00,74728000000.00,20259000000.00,6107000000.00,18654000000.00,8587000000.00,53129000000.00,38295000000.00,...,None,2810000000.00,-8901000000.00,7964000000.00,10656000000.00,31271000000.00,26848000000.00,5166000000,28506000000.00,None
16,2005-12,IBM,105748000000.00,72650000000.00,21314000000.00,5842000000.00,17574000000.00,7319000000.00,54602000000.00,36532000000.00,...,None,2841000000.00,-2016000000.00,7349000000.00,13686000000.00,28926000000.00,24428000000.00,4634000000,33098000000.00,None
17,2004-12,IBM,109183000000.00,79436000000.00,19384000000.00,5673000000.00,17064000000.00,7175000000.00,60261000000.00,36032000000.00,...,None,3316000000.00,-2061000000.00,9444000000.00,10570000000.00,18355000000.00,28136000000.00,5056000000,29747000000.00,None
18,2003-12,IBM,104457000000.00,76593000000.00,17852000000.00,5077000000.00,15545000000.00,6492000000.00,56113000000.00,33018000000.00,...,None,2942000000.00,-1896000000.00,8460000000.00,7647000000.00,16269000000.00,28923000000.00,4393000000,27864000000.00,None
19,2002-12,IBM,96484000000.00,73702000000.00,18738000000.00,4750000000.00,10148000000.00,5276000000.00,50902000000.00,30284000000.00,...,None,3148000000.00,-3418000000.00,7630000000.00,5975000000.00,14858000000.00,27358000000.00,4753000000,22782000000.00,None
20,2001-12,IBM,88313000000.00,64699000000.00,17197000000.00,5290000000.00,15773000000.00,4223000000.00,54084000000.00,31782000000.00,...,None,4304000000.00,-21871000000.00,7047000000.00,6393000000.00,14248000000.00,27018000000.00,5660000000,23614000000.00,None
21,2000-12,IBM,88349000000.00,67725000000.00,15639000000.00,5151000000.00,17246000000.00,4516000000.00,55972000000.00,32424000000.00,...,None,4765000000.00,-21741000000.00,8192000000.00,3722000000.00,12400000000.00,30726000000.00,6181000000,20624000000.00,None
22,1999-12,IBM,87495000000.00,66984000000.00,14729000000.00,5273000000.00,19069000000.00,4529000000.00,55619000000.00,31929000000.00,...,None,4868000000.00,-22026000000.00,6400000000.00,5831000000.00,11762000000.00,27618000000.00,6423000000,20511000000.00,None
23,1998-12,IBM,86100000000.00,66667000000.00,16662000000.00,5046000000.00,14745000000.00,4115000000.00,50795000000.00,28280000000.00,...,None,5200000000.00,-25239000000.00,6252000000.00,5768000000.00,10121000000.00,26781000000.00,6770000000,19433000000.00,None
24,1997-12,IBM,81499000000.00,61683000000.00,16634000000.00,4877000000.00,14756000000.00,3445000000.00,47899000000.00,30609000000.00,...,None,5139000000.00,-23786000000.00,5215000000.00,7553000000.00,8601000000.00,23826000000.00,7107000000,19816000000.00,None
25,1996-12,IBM,81132000000.00,59504000000.00,16854000000.00,5089000000.00,14315000000.00,3640000000.00,43784000000.00,30539000000.00,...,None,5870000000.00,-24486000000.00,4767000000.00,8137000000.00,7752000000.00,23167000000.00,6178000000,21628000000.00,None
26,1995-12,IBM,80292000000.00,57869000000.00,16766000000.00,6010000000.00,14140000000.00,3469000000.00,41573000000.00,30367000000.00,...,None,6323000000.00,-27402000000.00,4511000000.00,7701000000.00,7488000000.00,23402000000.00,5567000000,22423000000.00,None
27,1994-12,IBM,81091000000.00,57678000000.00,15916000000.00,4363000000.00,12677000000.00,3475000000.00,38768000000.00,25284000000.00,...,None,6334000000.00,-28156000000.00,3778000000.00,10554000000.00,7342000000.00,21533000000.00,4439000000,23413000000.00,None
28,1993-12,IBM,None,None,None,None,-4201000000.00,None,33858000000.00,28858000000.00,...,None,None,None,None,None,None,None,3154000000,None,None
29,1992-12,IBM,None,None,None,None,-867000000.00,None,28810000000.00,35713000000.00,...,None,None,None,None,None,None,None,4751000000,None,None
30,1991-12,IBM,None,None,None,None,5271000000.00,None,27324000000.00,37468000000.00,...,None,None,None,None,None,None,None,6497000000,None,None
31,1990-12,IBM,None,None,None,None,14420000000.00,None,26506000000.00,42512000000.00,...,None,None,None,None,None,None,None,6509000000,None,None
32,1989-12,IBM,None,None,None,None,10885000000.00,None,23461000000.00,39249000000.00,...,None,None,None,None,None,None,None,6414000000,None,None

In [126]:
def alpha_vantage(ticker, period='annualReports'):
    ''' Libraries ''' 
    import requests
    import os
    import pandas as pd
    import pickle

    from urllib.request import urlopen
    import functools as ft

    ''' taggin function'''
    def tag(nombre, api):
        name = nombre + '_'+api
        return name
        

    ''' Request'''
    url = f'https://www.alphavantage.co/query?function=Cash_flow&symbol={ticker}&apikey=6DWJBYP02X4S13GL'
    r = requests.get(url)
    data = r.json()
    df_cash = pd.DataFrame(data[period])
    

    url = f'https://www.alphavantage.co/query?function=Balance_Sheet&symbol={ticker}&apikey=6DWJBYP02X4S13GL'
    r = requests.get(url)
    data = r.json()
    df_balance = pd.DataFrame(data[period])

    url = f'https://www.alphavantage.co/query?function=Income_Statement&symbol={ticker}&apikey=6DWJBYP02X4S13GL'
    r = requests.get(url)
    data = r.json()
    df_income = pd.DataFrame(data[period])

    dfs = [ df_cash, df_balance , df_income]
    df_alpha = ft.reduce(lambda left, right: pd.merge(left, right, on='fiscalDateEnding'),dfs )
    
    tabla = pd.read_excel(r'../Merge.xlsx')
    columnas_Alpha = ['fiscalDateEnding'] + tabla.tag_alpha.tolist()
    
    df_alpha = df_alpha[columnas_Alpha]
    df_alpha = df_alpha.loc[:, ~df_alpha.columns.duplicated()]

    df_alpha.fiscalDateEnding = pd.to_datetime(df_alpha.fiscalDateEnding)
    
    
    ''' Renaming columns'''
    with open('saved_dictionary.pkl', 'rb') as f:
        dict = pickle.load(f)
    df_alpha.rename(columns=dict['alpha_vantage'], inplace=True)
    df_alpha.insert(0,'ticker' , f'{ticker}')
    df_alpha.insert(1, 'date',df_alpha.fiscalDateEnding.dt.strftime('%Y-%m'))
    
    df_alpha.to_csv('Data\\alpha.csv')
    return df_alpha

In [127]:
alpha_vantage('IBM', 'quarterlyReports')

,ticker,date,fiscalDateEnding,totalAssets_alpha,totalLiabilities_alpha,sellingGeneralAndAdministrative_alpha,researchAndDevelopment_alpha,ebitda_alpha,deferredRevenue_alpha,costOfRevenue_alpha,...,changeInCashAndCashEquivalents_alpha,inventory_alpha,comprehensiveIncomeNetOfTax_alpha,currentAccountsPayable_alpha,cashAndShortTermInvestments_alpha,commonStock_alpha,currentNetReceivables_alpha,capitalExpenditures_alpha,totalShareholderEquity_alpha,changeInOperatingAssets_alpha
0,IBM,2022-09,2022-09-30,125850000000,105703000000,4391000000,1611000000,-3611000000,14157000000,6677000000,...,917000000,1794000000,1834000000,3806000000,7816000000,58117000000,6289000000,317000000,20076000000,None
1,IBM,2022-06,2022-06-30,127503000000,108026000000,4855000000,1673000000,2572000000,15591000000,7246000000,...,-2703000000,1684000000,1755000000,3707000000,7034000000,57802000000,6626000000,339000000,19409000000,None
2,IBM,2022-03,2022-03-31,133275000000,114162000000,4597000000,1679000000,1630000000,16949000000,6862000000,...,3267000000,1776000000,1436000000,3453000000,9934000000,57603000000,13725000000,281000000,19050000000,None
3,IBM,2021-12,2021-12-31,132001000000,113005000000,3377000000,1581000000,3027000000,16095000000,-2849000000,...,-823000000,1649000000,5853000000,3955000000,6650000000,57319000000,14977000000,450000000,18901000000,None
4,IBM,2021-09,2021-09-30,144214000000,121858000000,4306000000,1606000000,2256000000,16229000000,6145000000,...,1130000000,1891000000,1480000000,4248000000,7455000000,57189000000,14669000000,558000000,22228000000,None
5,IBM,2021-06,2021-06-30,146814000000,124747000000,4849000000,1641000000,2337000000,17385000000,6366000000,...,1325000000,1807000000,1930000000,4214000000,7350000000,56912000000,15823000000,560000000,21942000000,None
6,IBM,2021-03,2021-03-31,148629000000,127116000000,4688000000,1616000000,1695000000,18350000000,6160000000,...,-2869000000,1828000000,2036000000,4140000000,11131000000,56788000000,16067000000,494000000,21389000000,None
7,IBM,2020-12,2020-12-31,155971000000,135244000000,4712000000,1540000000,1811000000,17134000000,-3888000000,...,-4000000000,1812000000,603000000,4033000000,13812000000,56556000000,18738000000,678000000,20597000000,None
8,IBM,2020-09,2020-09-30,154128000000,132794000000,4647000000,1515000000,2762000000,15501000000,9130000000,...,1698000000,1949000000,1870000000,3985000000,15593000000,56366000000,17870000000,725000000,21208000000,None
9,IBM,2020-06,2020-06-30,154200000000,133512000000,5248000000,1582000000,2516000000,16256000000,9423000000,...,1361000000,1869000000,1888000000,4719000000,14104000000,56135000000,19447000000,585000000,20551000000,None
10,IBM,2020-03,2020-03-31,153403000000,133275000000,5955000000,1625000000,897000000,17146000000,9649000000,...,3459000000,1786000000,489000000,4172000000,11865000000,56092000000,20669000000,630000000,19999000000,None
11,IBM,2019-12,2019-12-31,152186000000,131202000000,3553000000,1517000000,4306000000,15877000000,-3801000000,...,-2096000000,1619000000,4159000000,4896000000,8868000000,55895000000,23795000000,576000000,20841000000,None
12,IBM,2019-09,2019-09-30,149620000000,131524000000,5024000000,1553000000,2564000000,14605000000,9692000000,...,1672000000,1712000000,1427000000,4042000000,10820000000,55808000000,20959000000,588000000,17956000000,None
13,IBM,2019-06,2019-06-30,154652000000,136876000000,5456000000,1407000000,3422000000,14735000000,10151000000,...,2498000000,1745000000,2839000000,4724000000,46273000000,55404000000,24738000000,583000000,17645000000,None
14,IBM,2019-03,2019-03-31,130926000000,114320000000,4691000000,1433000000,2393000000,None,10139000000,...,5769000000,1771000000,1899000000,5711000000,18006000000,55287000000,27945000000,539000000,16481000000,None
15,IBM,2018-12,2018-12-31,123382000000,106452000000,4701000000,1358000000,4947000000,14610000000,11073000000,...,-31000000,1682000000,282000000,6558000000,11997000000,55151000000,30563000000,782000000,16796000000,None
16,IBM,2018-09,2018-09-30,121990000000,102071000000,4363000000,1252000000,3537000000,None,9953000000,...,2692000000,1893000000,3164000000,5384000000,14495000000,54987000000,27087000000,812000000,19784000000,None
17,IBM,2018-06,2018-06-30,121622000000,102974000000,4857000000,1364000000,3292000000,None,10804000000,...,2403000000,1742000000,2697000000,5518000000,11707000000,54827000000,28340000000,931000000,18520000000,None
18,IBM,2018-03,2018-03-31,125285000000,106995000000,5445000000,1405000000,1644000000,None,10825000000,...,-71000000,1753000000,2109000000,5736000000,12842000000,54712000000,29229000000,870000000,18166000000,None
19,IBM,2017-12,2017-12-31,125356000000,107631000000,5014000000,1378000000,4991000000,15298000000,11493000000,...,1057000000,1583000000,-125000000,6451000000,12580000000,54566000000,31630000000,956000000,17594000000,None

In [128]:
def tiingo(ticker):
        ''' Libraries ''' 
        import requests
        import os
        import pandas as pd
        import pickle

        from urllib.request import urlopen
        import requests
        ''' Reqyuest ''' 
        headers = {
                'Content-Type': 'application/json',
                'Authorization' : 'Token 41215ee240ce2f36eb1cd500d85f8663801366e2'
                }
        requestResponse = requests.get(f"https://api.tiingo.com/tiingo/fundamentals/{ticker}/statements",
                                        headers=headers)
        df_tiingo = pd.DataFrame(requestResponse.json())
        
        tabla = pd.read_excel(r'../Merge.xlsx')
        columnas_tiingo = ['ticker', 'date', 'quarter'] +  tabla.tag_tiingo.tolist()
        columnas_tiingo.remove('opMargin')


        ''' Transform ''' 
        df_main = pd.DataFrame()
        for j in range(len(df_tiingo)): # This iterator finds all rows
        
                dict_tiingo = {}
                '''incomeStatement''' 
                for i in range(len(df_tiingo.iloc[j]['statementData']['incomeStatement'])): # This iterator finds all collumns within this dictionary
                        column_name = df_tiingo.iloc[j]['statementData']['incomeStatement'][i]['dataCode']
                        value       = df_tiingo.iloc[j]['statementData']['incomeStatement'][i]['value'] 
                        dict_tiingo[column_name]=value
                #print(j , len(dict_tiingo))

                ''' BalanceSheet'''
                for i in range(len(df_tiingo.iloc[j]['statementData']['balanceSheet'])):
                        column_name = df_tiingo.iloc[j]['statementData']['balanceSheet'][i]['dataCode']
                        value       = df_tiingo.iloc[j]['statementData']['balanceSheet'][i]['value'] 
                        dict_tiingo[column_name]=value
                        
                #print(j , len(dict_tiingo))

                '''CashFlow'''
                for i in range(len(df_tiingo.iloc[j]['statementData']['cashFlow'])):
                        column_name = df_tiingo.iloc[j]['statementData']['cashFlow'][i]['dataCode']
                        value       = df_tiingo.iloc[j]['statementData']['cashFlow'][i]['value'] 
                        dict_tiingo[column_name]=value
                        
                #print(j , len(dict_tiingo), df_tiingo.iloc[j].date, df_tiingo.iloc[j].quarter)
                df = pd.DataFrame(dict_tiingo, index=[1])
                columns = df.columns.sort_values()
                df = df[columns]
                df.insert(0, 'ticker', f'{ticker}')
                df.insert(1, 'date',df_tiingo.iloc[j].date )
                df.insert(2, 'quarter', df_tiingo.iloc[j].quarter)
                df_main = pd.concat([df_main, df], axis=0)
                df_main = df_main[df_main.quarter !=4]

                df_main['date'] = pd.to_datetime(df_main.date)
                df_main['date'] = df_main.date.dt.strftime('%Y-%m')
        df_main = df_main[columnas_tiingo]
        ''' Renaming columns'''
        with open('saved_dictionary.pkl', 'rb') as f:
                dict = pickle.load(f)
        df_main.rename(columns=dict['tiingo'], inplace=True)
        df_main.to_csv('Data\\tiingo.csv')
        return df_main

In [129]:
tiingo('IBM')

,ticker,date,quarter,totalAssets_tiingo,totalLiabilities_tiingo,sga_tiingo,rnd_tiingo,ebitda_tiingo,deferredRev_tiingo,costRev_tiingo,...,intangibles_tiingo,cashAndEq_tiingo,inventory_tiingo,accoci_tiingo,acctPay_tiingo,investmentsAcqDisposals_tiingo,netIncComStock_tiingo,acctRec_tiingo,capex_tiingo,equity_tiingo
1,IBM,2022-09,3,1.258500e+11,1.057030e+11,4.391000e+09,1.611000e+09,-3.025000e+09,1.415700e+10,6.677000e+09,...,6.518500e+10,7.975000e+09,1.794000e+09,-1.713800e+10,3.806000e+09,-1.194000e+09,-3.196000e+09,6.428000e+09,-4.470000e+08,2.007600e+10
1,IBM,2022-06,2,1.275030e+11,1.080260e+11,4.855000e+09,1.673000e+09,3.192000e+09,1.559100e+10,7.246000e+09,...,6.661000e+10,7.254000e+09,1.684000e+09,-2.216900e+10,3.707000e+09,-2.820000e+08,1.392000e+09,6.776000e+09,-4.930000e+08,1.940900e+10
1,IBM,2022-03,1,1.332750e+11,1.141620e+11,4.597000e+09,1.679000e+09,2.261000e+09,1.694900e+10,6.862000e+09,...,6.841800e+10,1.022000e+10,1.776000e+09,-2.253200e+10,3.453000e+09,-3.430000e+08,7.330000e+08,6.966000e+09,-3.780000e+08,1.905000e+10
1,IBM,2021-12,0,1.320010e+11,1.130050e+11,1.874500e+10,6.488000e+09,1.343900e+10,1.609500e+10,2.586500e+10,...,6.815400e+10,6.957000e+09,1.649000e+09,-2.323400e+10,3.955000e+09,-4.140000e+08,5.743000e+09,7.756000e+09,-2.381000e+09,1.890100e+10
1,IBM,2021-09,3,1.442140e+11,1.218580e+11,4.306000e+09,1.606000e+09,2.880000e+09,1.622900e+10,6.145000e+09,...,7.440300e+10,7.807000e+09,1.891000e+09,-2.730200e+10,4.248000e+09,1.090000e+08,1.130000e+09,7.508000e+09,-6.370000e+08,2.222800e+10
1,IBM,2021-06,2,1.468140e+11,1.247470e+11,4.849000e+09,1.641000e+09,3.387000e+09,1.738500e+10,6.366000e+09,...,7.518400e+10,7.565000e+09,1.807000e+09,-2.765200e+10,4.214000e+09,-2.270000e+08,1.325000e+09,7.629000e+09,-6.880000e+08,2.194200e+10
1,IBM,2021-03,1,1.486290e+11,1.271160e+11,4.688000e+09,1.616000e+09,2.747000e+09,1.835000e+10,6.160000e+09,...,7.351900e+10,1.067300e+10,1.828000e+09,-2.825700e+10,4.140000e+09,-3.350000e+08,9.550000e+08,7.245000e+09,-5.300000e+08,2.138900e+10
1,IBM,2020-12,0,1.559710e+11,1.352440e+11,2.056100e+10,6.262000e+09,1.221300e+10,1.573800e+10,2.431400e+10,...,6.750400e+10,1.365100e+10,1.812000e+09,-2.933700e+10,4.033000e+09,-1.530000e+08,5.590000e+09,6.485000e+09,-3.042000e+09,2.059700e+10
1,IBM,2020-09,3,1.541280e+11,1.327940e+11,4.647000e+09,1.515000e+09,3.832000e+09,1.550100e+10,9.130000e+09,...,7.231700e+10,1.455300e+10,1.949000e+09,-2.858400e+10,3.985000e+09,7.600000e+08,1.698000e+09,7.022000e+09,-8.280000e+08,2.120800e+10
1,IBM,2020-06,2,1.542000e+11,1.335120e+11,5.248000e+09,1.582000e+09,3.572000e+09,1.625600e+10,9.423000e+09,...,7.210300e+10,1.218800e+10,1.869000e+09,-2.875700e+10,4.719000e+09,-1.263000e+09,1.361000e+09,7.480000e+09,-6.970000e+08,2.055100e+10
1,IBM,2020-03,1,1.534030e+11,1.332750e+11,5.955000e+09,1.625000e+09,1.909000e+09,1.714600e+10,9.649000e+09,...,7.218300e+10,1.137000e+10,1.786000e+09,-2.928300e+10,4.172000e+09,-1.780000e+08,1.175000e+09,8.543000e+09,-7.370000e+08,1.999900e+10
1,IBM,2019-12,0,1.521860e+11,1.312020e+11,1.872400e+10,5.910000e+09,1.689400e+10,1.587700e+10,2.618100e+10,...,7.345700e+10,8.313000e+09,1.619000e+09,-2.859700e+10,4.896000e+09,6.988000e+09,9.431000e+09,9.603000e+09,-2.370000e+09,2.084100e+10

In [130]:
def finnhub(ticker):

    ''' Libraries ''' 
    import requests
    import os
    import pandas as pd
    import pickle

    from urllib.request import urlopen
    import functools as ft
    import finnhub
    finnhub_client = finnhub.Client(api_key='cagpcp2ad3i02fchaga0')





    '''
    Balance Sheet
    '''
    data = finnhub_client.financials(f'{ticker}', 'bs', 'annual')
    df_balance = pd.DataFrame()
    for j in range(len(data['financials'])):
        df = pd.DataFrame(data['financials'][j], index=[1])
        df_balance = pd.concat([df_balance, df], axis=0)
    cols = list(df_balance.columns)
    cols.remove('period')
    cols.insert(0,'period')
    df_balance = df_balance
    #display(df_balance[cols].head(3))

    ''' 
    Income Statement
    ''' 
    data = finnhub_client.financials(f'{ticker}', 'ic', 'annual')
    df_income = pd.DataFrame()
    for k in range(len(data['financials'])):
        df = pd.DataFrame(data['financials'][k], index=[1])
        df_income = pd.concat([df_income, df], axis=0)
    cols = list(df_income.columns)
    cols.remove('period')
    cols.insert(0,'period')
    df_income = df_income[cols]
    #display(df_income.head(3))

    '''
    Cash Flow
    ''' 
    data = finnhub_client.financials(f'{ticker}', 'cf', 'annual')
    df_cash = pd.DataFrame()
    for q in range(len(data['financials'])):
        try:
            df = pd.DataFrame(data['financials'][q], index=[1])
            df_cash  = pd.concat([df_cash, df], axis=0)
        except:
            print(q)
            pass
    cols = list(df_cash.columns)
    cols.remove('period')
    cols.insert(0, 'period')
    df_cash = df_cash[cols]
    #display(df_cash.head(3))

    dfs = [df_cash, df_balance, df_income] 
    df_final = ft.reduce(lambda left, right: pd.merge(left, right, on='period'), dfs)

    df_final['date'] = pd.to_datetime(df_final['period'])
    df_final['date'] = df_final.date.dt.strftime('%Y-%m')
    df_final['ticker'] = ticker
    tabla = pd.read_excel('../Merge.xlsx')
    columns = ['date', 'ticker'] + list(tabla.tag_finn)
    ''' Renaming columns'''
    df_final = df_final[columns]
    with open('saved_dictionary.pkl', 'rb') as f:
        dict = pickle.load(f)
    df_final.rename(columns=dict['finnhub'], inplace=True)

    df_final.to_csv('Data\\finnhub.csv') 
    return df_final

In [131]:
finnhub('IBM')

,date,ticker,totalAssets_finnhub,totalLiabilities_finnhub,sgaExpense_finnhub,researchDevelopment_finnhub,ebit_finnhub,deferredTaxesInvestmentTaxCredit_finnhub,costOfGoodsSold_finnhub,grossIncome_finnhub,...,cashEquivalents_finnhub,inventory_finnhub,otherInvestingCashFlowItemsTotal_finnhub,accountsPayable_finnhub,cashShortTermInvestments_finnhub,commonStock_finnhub,accountsReceivables_finnhub,capex_finnhub,liabilitiesShareholdersEquity_finnhub,changesinWorkingCapital_finnhub
0,2021-12,IBM,132001,113100,18608,6488,6109,-2001,25865,31485,...,6650,1649,-3207,3955,7250,450,7184,-2768,132001,1962
1,2020-12,IBM,155971,135373,18539,6262,5735,-3203,24314,30865,...,13188,1812,202,4033,13788,449,6166,-3230,155971,8248
2,2019-12,IBM,152186,131345,19748,5963,8201,-1527,26181,31533,...,8172,1619,-24029,4896,8868,448,8294,-2907,152186,1225
3,2018-12,IBM,123382,106587,18217,5379,13993,853,42655,36936,...,11379,1682,-949,6558,11999,447,7432,-3964,123382,553
4,2017-12,IBM,125356,107762,19120,5590,13320,-931,42196,36943,...,11972,1583,-3308,6451,12592,446,8928,-3773,125356,6812
5,2016-12,IBM,117470,99224,19440,5726,13886,-1132,41403,38516,...,7826,1553,-6778,6209,8538,53935,9182,-4150,117470,1357
6,2015-12,IBM,110495,96233,19512,5247,16562,1387,41057,40684,...,7686,1551,-4008,6028,8200,53262,8333,-4151,110495,-2197
7,2014-12,IBM,117271,105403,21385,5437,21830,-237,46386,46407,...,8476,2103,1182,6864,8500,52666,9090,-4183,117271,-1767
8,2013-12,IBM,126223,103431,22214,5743,21316,-1610,49683,48684,...,10716,2310,-3186,7461,11102,51594,10465,-4140,126223,-2444
9,2012-12,IBM,119213,100353,23463,5816,22999,797,52513,50361,...,10412,2287,-4287,7952,11138,50110,10667,-4717,119213,-2451
10,2011-12,IBM,116433,96297,22865,6258,21891,1212,56778,50138,...,11922,2596,271,8517,11922,48129,28391,-4667,116435,-2390
11,2010-12,IBM,113450,90404,20943,6026,20735,1294,53857,46013,...,10661,2450,-3753,7804,11651,45418,27433,-4754,113450,-1237
12,2009-12,IBM,109022,86387,20193,5820,17485,1773,51972,43787,...,12183,2493,-2653,7436,13974,41810,26088,-4077,109024,418
13,2008-12,IBM,109524,96059,23386,6337,15938,1900,57969,45661,...,12741,2700,-4398,7014,12907,39129,26734,-4887,109525,-1193
14,2007-12,IBM,120432,91961,22060,6153,13516,740,57057,41729,...,14991,2664,830,8054,16146,35188,28013,-5505,120430,-890
15,2006-12,IBM,103233,74727,20259,6107,11928,1724,53129,38294,...,8022,2810,-6382,7964,10656,31271,26191,-5166,103233,-1780
16,2005-12,IBM,105748,72650,21314,5842,9376,2185,54602,36532,...,12568,2841,211,7349,13686,28926,23712,-4634,105748,56
17,2004-12,IBM,111003,79315,20079,5874,9616,1794,60724,35569,...,10053,3316,-290,9444,10570,26673,27004,-5056,111003,-35
18,2003-12,IBM,104457,76593,18601,5314,8632,790,56584,32547,...,7290,2942,-146,8460,7647,16269,28342,-4974,104457,895
19,2002-12,IBM,96484,73702,18738,4750,6796,-67,50902,30284,...,5382,3148,-1547,7630,5975,14858,27358,-5350,96484,2963
20,2001-12,IBM,90303,66855,17048,4986,9855,664,51178,31889,...,6330,4304,193,7047,6393,14248,27018,-6055,90303,585
21,2000-12,IBM,88349,67725,17393,5084,9101,44,53511,31578,...,3563,4765,1883,8192,3722,12647,30726,-5884,88349,-3036
22,1999-12,IBM,87495,66984,16294,5505,9755,-713,55994,31554,...,5043,4868,4754,6400,5831,12009,27618,-6423,87495,1318
23,1998-12,IBM,86100,66667,16662,5046,9164,-606,50795,30872,...,5375,5200,639,6252,5768,10368,26781,-6770,86100,-1180
24,1997-12,IBM,81499,61683,16634,4877,9098,358,47899,30609,...,7106,5139,952,5215,7553,8853,23826,-7107,81499,-1869
25,1996-12,IBM,81132,59504,16854,5089,8596,11,45408,30539,...,7687,5870,455,4767,8137,8005,23167,-6178,81132,1179
26,1995-12,IBM,80292,57869,16766,4170,9431,1392,41573,30367,...,5513,6323,515,4511,7701,7741,23402,-5567,80292,154
27,1994-12,IBM,81091,57678,15916,4363,5005,825,38768,25284,...,7922,6334,1013,3778,10554,8423,21533,-4439,81091,4435
28,1993-12,IBM,81113,61375,18282,5558,308,-1335,38568,24148,...,5861,7565,459,3400,7133,8071,19412,-4661,81113,5607
29,1992-12,IBM,86705,59081,19526,6522,3406,-3356,35069,29454,...,4446,8385,625,3147,5649,6563,21604,-6503,86705,1870
30,1991-12,IBM,92473,55794,21375,6644,4674,0,32073,32693,...,3945,9844,825,3507,5151,6531,24317,-8511,92473,-1712
31,1990-12,IBM,87568,44736,20709,6554,10953,0,30715,38216,...,3853,10108,1257,3367,4551,6357,22644,-8401,87568,-2987
32,1989-12,IBM,77734,39225,21289,6827,6893,0,27701,35009,...,3700,9463,1013,3167,4961,6341,20164,-8093,77734,-1737
33,1988-12,IBM,73037,33528,19362,5925,8746,0,25648,34033,...,4175,9565,2588,2702,6123,6442,18100,-6708,73037,-4357
34,1987-12,IBM,70029,31766,16540,5434,8160,0,25122,30134,...,3467,8659,1438,2632,7421,6417,16741,-5243,70029,-2787
35,1986-12,IBM,57814,23440,15550,5221,8236,0,23153,29007,...,755,8039,-1205,1970,7257,6321,10825,-5546,57814,515

In [132]:
def sharadar(ticker):
    import requests
    import os
    import pandas as pd
    from urllib.request import urlopen
    import nasdaqdatalink
    import pickle


    nasdaqdatalink.ApiConfig.api_key = "rxxWsjphD1YghSYo-LWD"
      
    def tag(nombre, api):
        name = nombre + '_'+api
        return name

    tabla = pd.read_excel(r'../Merge.xlsx')
    columnas_sharadar = ['ticker', 'reportperiod', 'datekey'] +  tabla.tag_sharadar.tolist()






    df_sharadar = nasdaqdatalink.get_table('SHARADAR/SF1', ticker=f'{ticker}')    
    df_sharadar = df_sharadar[columnas_sharadar]


    ''' datekey to date_time type''' 
    df_sharadar.datekey = pd.to_datetime(df_sharadar.datekey)
    df_sharadar.insert(0, 'date', df_sharadar.datekey.dt.strftime('%Y-%m'))
    ''' Renaming columns'''
    with open('saved_dictionary.pkl', 'rb') as f:
        dict = pickle.load(f)
    df_sharadar.rename(columns=dict['sharadar'], inplace=True)
    df_sharadar.drop_duplicates(inplace=True)
    df_sharadar.drop_duplicates('date', inplace=True)
    df_sharadar.to_csv('Data\\sharadar.csv')
    return df_sharadar

In [133]:
sharadar('AAPL')

,date,ticker,reportperiod,datekey,assets_sharadar,liabilities_sharadar,sgna_sharadar,rnd_sharadar,ebitda_sharadar,deferredrev_sharadar,...,cashneq_sharadar,inventory_sharadar,accoci_sharadar,payables_sharadar,cashneq_sharadar,dps_sharadar,receivables_sharadar,capex_sharadar,equity_sharadar,opinc_sharadar
None,,,,,,,,,,,,,,,,,,,,,
0,2022-09,AAPL,2022-09-24,2022-09-24,3.527550e+11,3.020830e+11,2.509400e+10,2.625100e+10,1.331380e+11,7.912000e+09,...,2.364600e+10,4.946000e+09,-1.110900e+10,6.411500e+10,2.364600e+10,0.900,6.093200e+10,-1.070800e+10,5.067200e+10,1.194370e+11
1,2021-09,AAPL,2021-09-25,2021-09-25,3.510020e+11,2.879120e+11,2.197300e+10,2.191400e+10,1.231360e+11,7.612000e+09,...,3.494000e+10,6.580000e+09,1.630000e+08,5.476300e+10,3.494000e+10,0.850,5.150600e+10,-1.108500e+10,6.309000e+10,1.089490e+11
2,2020-09,AAPL,2020-09-26,2020-09-26,3.238880e+11,2.585490e+11,1.991600e+10,1.875200e+10,8.102000e+10,6.643000e+09,...,3.801600e+10,4.061000e+09,-4.060000e+08,4.229600e+10,3.801600e+10,0.795,3.744500e+10,-7.309000e+09,6.533900e+10,6.628800e+10
3,2019-09,AAPL,2019-09-28,2019-09-28,3.385160e+11,2.480280e+11,1.824500e+10,1.621700e+10,8.186000e+10,5.522000e+09,...,4.884400e+10,4.106000e+09,-5.840000e+08,4.623600e+10,4.884400e+10,0.750,4.580400e+10,-1.049500e+10,9.048800e+10,6.393000e+10
4,2018-09,AAPL,2018-09-29,2018-09-29,3.657250e+11,2.585780e+11,1.670500e+10,1.423600e+10,8.704600e+10,5.966000e+09,...,2.591300e+10,3.956000e+09,-3.454000e+09,5.588800e+10,2.591300e+10,0.680,4.899500e+10,-1.331300e+10,1.071470e+11,7.089800e+10
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
358,1999-05,AAPL,1999-03-27,1999-05-11,4.935000e+09,2.760000e+09,9.690000e+08,3.010000e+08,6.470000e+08,0.000000e+00,...,1.358000e+09,1.800000e+07,1.680000e+08,7.910000e+08,1.358000e+09,0.000,8.040000e+08,6.000000e+06,2.175000e+09,3.760000e+08
359,1999-02,AAPL,1998-12-26,1999-02-08,4.592000e+09,2.669000e+09,9.530000e+08,3.000000e+08,5.570000e+08,0.000000e+00,...,1.221000e+09,2.500000e+07,8.600000e+07,6.550000e+08,1.221000e+09,0.000,9.130000e+08,0.000000e+00,1.923000e+09,3.480000e+08
361,1998-08,AAPL,1998-06-26,1998-08-10,4.041000e+09,2.555000e+09,NaN,NaN,NaN,0.000000e+00,...,1.203000e+09,1.290000e+08,0.000000e+00,5.730000e+08,1.203000e+09,0.000,9.150000e+08,NaN,1.486000e+09,NaN
362,1998-05,AAPL,1998-03-27,1998-05-11,3.963000e+09,2.575000e+09,NaN,NaN,NaN,0.000000e+00,...,1.285000e+09,2.570000e+08,0.000000e+00,5.230000e+08,1.285000e+09,0.000,8.070000e+08,NaN,1.388000e+09,NaN
363,1998-02,AAPL,1997-12-26,1998-02-09,4.126000e+09,2.882000e+09,NaN,NaN,NaN,0.000000e+00,...,1.193000e+09,4.040000e+08,0.000000e+00,6.550000e+08,1.193000e+09,0.000,9.020000e+08,NaN,1.244000e+09,NaN

In [134]:
def financial_model(ticker):
    ''' Libraries ''' 
    import certifi
    import json
    import requests
    import os
    import pandas as pd
    import pickle
    from urllib.request import urlopen
    import functools as ft

    
    def get_jsonparsed_data(url):
        """
        Receive the content of ``url``, parse it as JSON and return the object.

        Parameters
        ----------
        url : str

        Returns
        -------
        dict
        """
        response = urlopen(url, cafile=certifi.where())
        data = response.read().decode("utf-8")
        return json.loads(data)

    url_income = f'https://financialmodelingprep.com/api/v3/income-statement/{ticker}?apikey=ba8a6d3ac5e7ca36fc2ee9be73394ef1'
    url_cash = f'https://financialmodelingprep.com/api/v3/cash-flow-statement/{ticker}?apikey=ba8a6d3ac5e7ca36fc2ee9be73394ef1'
    url_balance = f'https://financialmodelingprep.com/api/v3/balance-sheet-statement/{ticker}?apikey=ba8a6d3ac5e7ca36fc2ee9be73394ef1'

    income = get_jsonparsed_data(url_income)
    cash = get_jsonparsed_data(url_cash)
    balance = get_jsonparsed_data(url_balance)

    tabla = pd.read_excel('../Merge.xlsx')
    columns = ['date', 'symbol'] +list(tabla.tag_finmodprep)
    columns.remove('inventory')
    columns.append('inventory_y')

    df_income=pd.DataFrame()
    for j in range(len(income)):
        df= pd.DataFrame(income[j], index=[1])
        df_income = pd.concat([df_income, df], axis=0)
        

    df_cash = pd.DataFrame()
    for i in range(len(cash)):
        df = pd.DataFrame(cash[i], index=[1])
        df_cash = pd.concat([df_cash, df], axis=0)

    df_balance = pd.DataFrame()
    for k in range(len(balance)):
        df = pd.DataFrame(balance[k], index=[1])
        df_balance = pd.concat([df_balance, df], axis=0)

    dfs = [df_cash, df_income, df_balance]
    df_final = ft.reduce(lambda left, right: pd.merge(left, right, on='date'), dfs)
    df_final = df_final[columns]
    df_final.rename(columns={'inventory_y': 'inventory', 'symbol': 'ticker'}, inplace=True)

    df_final['date'] = pd.to_datetime(df_final.date)
    df_final.date = df_final.date.dt.strftime('%Y-%m')
    
    ''' Renaming columns'''
    with open('saved_dictionary.pkl', 'rb') as f:
        dict = pickle.load(f)
    df_final.rename(columns=dict['financial_model'], inplace=True)
    df_final.to_csv('Data\\financial_model.csv')


    return df_final.head()

In [135]:
financial_model('MS')

C:\Users\KNL\AppData\Local\Temp\ipykernel_17720\3933965329.py:25: DeprecationWarning: cafile, capath and cadefault are deprecated, use a custom context instead.
  response = urlopen(url, cafile=certifi.where())

,date,ticker,totalAssets_financial,totalLiabilities_financial,sellingGeneralAndAdministrativeExpenses_financial,researchAndDevelopmentExpenses_financial,ebitda_financial,deferredRevenue_financial,costOfRevenue_financial,grossProfit_financial,...,cashAndCashEquivalents_financial,accumulatedOtherComprehensiveIncomeLoss_financial,accountsPayables_financial,cashAndShortTermInvestments_financial,commonStock_financial,netReceivables_financial,capitalExpenditure_financial,totalStockholdersEquity_financial,changeInWorkingCapital_financial,inventory_financial
0,2021-12,MS,1188140000000,1081542000000,2.516900e+10,0.0,2.516400e+10,0.0,0.0,0.0,...,86838000000,-3.102000e+09,7.758000e+09,189668000000,20000000.0,96018000000,-2.308000e+09,105441000000,12689000000,0.0
1,2020-12,MS,1115862000000,1012713000000,2.375300e+10,0.0,2.338400e+10,0.0,0.0,0.0,...,67452000000,-1.962000e+09,1.018700e+10,177835000000,20000000.0,97737000000,-1.444000e+09,101781000000,-42277000000,0.0
2,2019-12,MS,778510000000,812732000000,2.169100e+10,0.0,2.615300e+10,0.0,0.0,0.0,...,49659000000,-2.788000e+09,1.994200e+10,49659000000,20000000.0,55646000000,-1.826000e+09,81549000000,27608000000,0.0
3,2018-12,MS,853531000000,772125000000,2.033900e+10,0.0,2.302800e+10,0.0,0.0,0.0,...,51840000000,-2.292000e+09,-1.306300e+10,51840000000,20000000.0,53298000000,-1.865000e+09,80246000000,-4975000000,0.0
4,2017-12,MS,851733000000,773267000000,1.956600e+10,0.0,1.774100e+10,0.0,0.0,0.0,...,46164000000,-3.060000e+09,2.007000e+09,124966000000,20000000.0,56187000000,-1.629000e+09,77391000000,-16429000000,0.0

This API only brings few values, it happens the same with Tiingo

## $$ MERGE $$

And a function that uses the functions above to download data, rename the columns, and merge all of them and then reorganize the columns order so they can be compared

In [148]:
api = 'None'

In [149]:
def complete_process(ticker,**kwargs):
    import pandas as pd 
    import functools as ft
    import threading 

    eod_th = threading.Thread(target=eod, args=(ticker, ))
    alpha_th = threading.Thread(target=alpha_vantage, args=(ticker,'quarterlyReports'))
    tiingo_th = threading.Thread(target=tiingo,args=(ticker, ))
    finnhub_th = threading.Thread(target=finnhub, args=(ticker, ))
    sharadar_th = threading.Thread(target=sharadar, args=(ticker, ))
    financial_th = threading.Thread(target=financial_model , args=(ticker, ))

    ''' API REQUESTS'''
    eod_th.start()
    alpha_th.start()
    tiingo_th.start()
    finnhub_th.start()
    sharadar_th.start()
    financial_th.start()


    eod_th.join()
    alpha_th.join()
    tiingo_th.join()
    finnhub_th.join()
    sharadar_th.join()
    financial_th.join()

    

    ''' Merging and sorting process '''
    
    Merge2 = pd.read_excel('../Merge2.xlsx')
    try: 
        Merge2.drop(columns=[f'{api}', 'Unnamed: 0'], inplace=True)
    except:
        Merge2.drop(columns='Unnamed: 0' , inplace=True)
        
    lists = Merge2.to_numpy().tolist()
    columnas_ordenadas = ['date', 'ticker']
    for sublist in lists:
        for item in sublist:
            columnas_ordenadas.append(item)
    for i in range(50):
        try:
            columnas_ordenadas.remove(i)
        except:
            pass


    ''' Reading each file'''
    eod_csv = pd.read_csv('Data\\eod.csv')
    alpha_csv = pd.read_csv('Data\\alpha.csv')
    financial_model_csv = pd.read_csv('Data\\financial_model.csv')
    finnhub_csv = pd.read_csv('Data\\finnhub.csv')
    sharadar_csv = pd.read_csv('Data\\sharadar.csv')
    tiingo_csv = pd.read_csv('Data\\tiingo.csv')

    ''' Merging all together on DATE and TICKER'''
    dfs = [eod_csv, alpha_csv, financial_model_csv, finnhub_csv, sharadar_csv, tiingo_csv]
    
    #? This block is for removing one API from the merge
    try:
        dfs.remove(api)
    except:
        pass


    

    df_merge = ft.reduce(lambda left, right: pd.merge(left, right, on=['date', 'ticker']), dfs) 
    df_merge =df_merge[columnas_ordenadas].drop_duplicates()
    df_merge.to_excel('Data\\Merge_raw.xlsx')
    return df_merge

In [151]:
complete_process('IBM')

C:\Users\KNL\AppData\Local\Temp\ipykernel_17720\3933965329.py:25: DeprecationWarning: cafile, capath and cadefault are deprecated, use a custom context instead.
  response = urlopen(url, cafile=certifi.where())
C:\Users\KNL\AppData\Local\Temp\ipykernel_17720\3933965329.py:25: DeprecationWarning: cafile, capath and cadefault are deprecated, use a custom context instead.
  response = urlopen(url, cafile=certifi.where())
C:\Users\KNL\AppData\Local\Temp\ipykernel_17720\2209372155.py:71: FutureWarning: Passing 'suffixes' which cause duplicate columns {'Unnamed: 0_x'} in the result is deprecated and will raise a MergeError in a future version.
  df_merge = ft.reduce(lambda left, right: pd.merge(left, right, on=['date', 'ticker']), dfs)

,date,ticker,totalAssets_tiingo,totalAssets_alpha,totalAssets_eod,totalAssets_finnhub,assets_sharadar,totalAssets_financial,totalLiabilities_tiingo,totalLiabilities_alpha,...,capitalExpenditures_eod,capex_finnhub,capex_sharadar,capitalExpenditure_financial,equity_tiingo,totalShareholderEquity_alpha,totalStockholderEquity_eod,liabilitiesShareholdersEquity_finnhub,equity_sharadar,totalStockholdersEquity_financial
0,2021-12,IBM,1.320010e+11,132001000000,1.320010e+11,132001,1.320010e+11,132001000000,1.130050e+11,113005000000,...,2768000000,-2768,-2.381000e+09,-2768000000,1.890100e+10,18901000000,1.890100e+10,132001,1.890100e+10,18901000000
1,2020-12,IBM,1.559710e+11,155971000000,1.559700e+11,155971,1.559710e+11,155970000000,1.352440e+11,135244000000,...,3230000000,-3230,-3.042000e+09,-3230000000,2.059700e+10,20597000000,2.059700e+10,155971,2.059700e+10,20597000000
2,2019-12,IBM,1.521860e+11,152186000000,1.521860e+11,152186,1.521860e+11,152186000000,1.312020e+11,131202000000,...,2907000000,-2907,-2.370000e+09,-2907000000,2.084100e+10,20841000000,2.084100e+10,152186,2.084100e+10,20841000000

So this is exported to an excel file.

----------------------------

In [138]:
''' Merging and sorting process '''
api='financial_model'
Merge2 = pd.read_excel('../Merge2.xlsx')
Merge2.drop(columns=[f'{api}', 'Unnamed: 0'], inplace=True)
lists = Merge2.to_numpy().tolist()
columnas_ordenadas = ['date', 'ticker']
for sublist in lists:
    for item in sublist:
        columnas_ordenadas.append(item)
for i in range(50):
    try:
        columnas_ordenadas.remove(i)
    except:
        pass
print(Merge2.columns)

Index(['tiingo', 'alpha_vantage', 'eod', 'finnhub', 'sharadar'], dtype='object')

In [139]:
''' COLUMNAS ORDENADAS'''
Merge2 = pd.read_excel('../Merge2.xlsx')
lists = Merge2.to_numpy().tolist()
columnas_ordenadas = []
for sublist in lists:
    for item in sublist:
        columnas_ordenadas.append(item)
columnas_ordenadas = pd.Series(columnas_ordenadas)  
columnas_ordenadas

0                                          0
1                         totalAssets_tiingo
2                          totalAssets_alpha
3                            totalAssets_eod
4                        totalAssets_finnhub
                       ...
149             totalShareholderEquity_alpha
150               totalStockholderEquity_eod
151    liabilitiesShareholdersEquity_finnhub
152                          equity_sharadar
153        totalStockholdersEquity_financial
Length: 154, dtype: object

In [140]:
for i in range(len(df.index)):
    try:
        for col in df.columns:
            if df.iloc[i][col]!=df.iloc[i+1][col] and df.iloc[i]['date']==df.iloc[i+1]['date']:
                print(f'i: {i}, column = {col} ')
    except:
        pass

In [141]:
df.iloc[0]

date                                            2022-09
ticker                                             AAPL
totalAssets_tiingo                       352755000000.0
totalAssets_alpha                          352755000000
totalAssets_eod                          352755000000.0
                                              ...
equity_tiingo                             50672000000.0
totalShareholderEquity_alpha                50672000000
totalStockholderEquity_eod                50672000000.0
liabilitiesShareholdersEquity_finnhub            352755
equity_sharadar                           50672000000.0
Name: 0, Length: 112, dtype: object

In [142]:
b = df.iloc[1]['sgna_sharadar']
b

21973000000.0

In [143]:
df.iloc[1]['totalAssets_tiingo']

351002000000.0

-------------------------------------------------------

Hacer un merge con los archivos, sin usar las funciones directamente.

In [144]:
import pandas as pd 
import functools as ft 

''' Columns names in order'''

Merge2 = pd.read_excel('../Merge2.xlsx')
Merge2.drop(columns='Unnamed: 0', inplace=True)
lists = Merge2.to_numpy().tolist()
columnas_ordenadas = ['date', 'ticker']
for sublist in lists:
    for item in sublist:
        columnas_ordenadas.append(item)

''' Reading each API'''
df1 = pd.read_csv('Data\\eod.csv')
df2 = pd.read_csv('Data\\alpha.csv')
df3 = pd.read_csv('Data\\financial_model.csv')
df4 = pd.read_csv('Data\\finnhub.csv')
df5 = pd.read_csv('Data\\sharadar.csv')
df6 = pd.read_csv('Data\\tiingo.csv')

''' Merging all together on DATE and TICKER'''
dfs = [df1, df2, df3, df4, df5, df6]
df_merge = ft.reduce(lambda left, right: pd.merge(left, right, on=['date', 'ticker']), dfs) 


df_merge[columnas_ordenadas]

C:\Users\KNL\AppData\Local\Temp\ipykernel_17720\3803477122.py:24: FutureWarning: Passing 'suffixes' which cause duplicate columns {'Unnamed: 0_x'} in the result is deprecated and will raise a MergeError in a future version.
  df_merge = ft.reduce(lambda left, right: pd.merge(left, right, on=['date', 'ticker']), dfs)

,date,ticker,totalAssets_tiingo,totalAssets_alpha,totalAssets_eod,totalAssets_finnhub,assets_sharadar,totalAssets_financial,totalLiabilities_tiingo,totalLiabilities_alpha,...,capitalExpenditures_eod,capex_finnhub,capex_sharadar,capitalExpenditure_financial,equity_tiingo,totalShareholderEquity_alpha,totalStockholderEquity_eod,liabilitiesShareholdersEquity_finnhub,equity_sharadar,totalStockholdersEquity_financial
0,2021-12,IBM,1.320010e+11,132001000000,1.320010e+11,132001,1.320010e+11,132001000000,1.130050e+11,113005000000,...,2768000000,-2768,-2.381000e+09,-2768000000,1.890100e+10,18901000000,1.890100e+10,132001,1.890100e+10,18901000000
1,2020-12,IBM,1.559710e+11,155971000000,1.559700e+11,155971,1.559710e+11,155970000000,1.352440e+11,135244000000,...,3230000000,-3230,-3.042000e+09,-3230000000,2.059700e+10,20597000000,2.059700e+10,155971,2.059700e+10,20597000000
2,2019-12,IBM,1.521860e+11,152186000000,1.521860e+11,152186,1.521860e+11,152186000000,1.312020e+11,131202000000,...,2907000000,-2907,-2.370000e+09,-2907000000,2.084100e+10,20841000000,2.084100e+10,152186,2.084100e+10,20841000000

In [145]:
df5.head()

,None,date,ticker,reportperiod,datekey,assets_sharadar,liabilities_sharadar,sgna_sharadar,rnd_sharadar,ebitda_sharadar,...,cashneq_sharadar,inventory_sharadar,accoci_sharadar,payables_sharadar,cashneq_sharadar.1,dps_sharadar,receivables_sharadar,capex_sharadar,equity_sharadar,opinc_sharadar
0,0,2021-12,IBM,2021-12-31,2021-12-31,1.320010e+11,1.130050e+11,1.874500e+10,6.488000e+09,1.343900e+10,...,6.957000e+09,1.649000e+09,-2.323400e+10,3.955000e+09,6.957000e+09,6.55,7.756000e+09,-2.381000e+09,1.890100e+10,5.991000e+09
1,1,2020-12,IBM,2020-12-31,2020-12-31,1.559710e+11,1.352440e+11,2.056100e+10,6.262000e+09,1.221300e+10,...,1.365100e+10,1.812000e+09,-2.933700e+10,4.033000e+09,1.365100e+10,6.51,6.485000e+09,-3.042000e+09,2.059700e+10,3.860000e+09
2,2,2019-12,IBM,2019-12-31,2019-12-31,1.521860e+11,1.312020e+11,1.872400e+10,5.910000e+09,1.689400e+10,...,8.313000e+09,1.619000e+09,-2.859700e+10,4.896000e+09,8.313000e+09,6.43,9.603000e+09,-2.370000e+09,2.084100e+10,8.550000e+09
3,3,2018-12,IBM,2018-12-31,2018-12-31,1.233820e+11,1.064520e+11,1.936600e+10,5.379000e+09,1.655000e+10,...,1.160400e+10,1.682000e+09,-2.949000e+10,6.558000e+09,1.160400e+10,6.21,8.175000e+09,-3.716000e+09,1.679600e+10,1.206500e+10
4,4,2017-12,IBM,2017-12-31,2017-12-31,1.253560e+11,1.076310e+11,1.968000e+10,5.590000e+09,1.655100e+10,...,1.223400e+10,1.583000e+09,-2.659200e+10,6.451000e+09,1.223400e+10,5.90,9.909000e+09,-3.313000e+09,1.759400e+10,1.201400e+10

In [146]:
import pandas as pd 
import functools as ft 

''' Columns names in order'''

Merge2 = pd.read_excel('../Merge2.xlsx')
lists = Merge2.to_numpy().tolist()
print(lists)

[[0, 'totalAssets_tiingo', 'totalAssets_alpha', 'totalAssets_eod', 'totalAssets_finnhub', 'assets_sharadar', 'totalAssets_financial'], [1, 'totalLiabilities_tiingo', 'totalLiabilities_alpha', 'totalLiab_eod', 'totalLiabilities_finnhub', 'liabilities_sharadar', 'totalLiabilities_financial'], [2, 'sga_tiingo', 'sellingGeneralAndAdministrative_alpha', 'sellingGeneralAdministrative_eod', 'sgaExpense_finnhub', 'sgna_sharadar', 'sellingGeneralAndAdministrativeExpenses_financial'], [3, 'rnd_tiingo', 'researchAndDevelopment_alpha', 'researchDevelopment_eod', 'researchDevelopment_finnhub', 'rnd_sharadar', 'researchAndDevelopmentExpenses_financial'], [4, 'ebitda_tiingo', 'ebitda_alpha', 'ebitda_eod', 'ebit_finnhub', 'ebitda_sharadar', 'ebitda_financial'], [5, 'deferredRev_tiingo', 'deferredRevenue_alpha', 'currentDeferredRevenue_eod', 'deferredTaxesInvestmentTaxCredit_finnhub', 'deferredrev_sharadar', 'deferredRevenue_financial'], [6, 'costRev_tiingo', 'costOfRevenue_alpha', 'costOfRevenue_eod', 'costOfGoodsSold_finnhub', 'cor_sharadar', 'costOfRevenue_financial'], [7, 'grossProfit_tiingo', 'grossProfit_alpha', 'grossProfit_eod', 'grossIncome_finnhub', 'gp_sharadar', 'grossProfit_financial'], [8, 'debtCurrent_tiingo', 'currentDebt_alpha', 'netDebt_eod', 'netDebt_finnhub', 'debtc_sharadar', 'netDebt_financial'], [9, 'investments_tiingo', 'investments_alpha', 'investments_eod', 'longTermInvestments_finnhub', 'investments_sharadar', 'totalInvestments_financial'], [10, 'ppeq_tiingo', 'propertyPlantEquipment_alpha', 'propertyPlantEquipment_eod', 'propertyPlantEquipment_finnhub', 'ppnenet_sharadar', 'propertyPlantEquipmentNet_financial'], [11, 'revenue_tiingo', 'totalRevenue_alpha', 'totalRevenue_eod', 'revenue_finnhub', 'revenue_sharadar', 'revenue_financial'], [12, 'intangibles_tiingo', 'intangibleAssets_alpha', 'intangibleAssets_eod', 'otherCurrentAssets_finnhub', 'intangibles_sharadar', 'intangibleAssets_financial'], [13, 'cashAndEq_tiingo', 'changeInCashAndCashEquivalents_alpha', 'cashAndEquivalents_eod', 'cashEquivalents_finnhub', 'cashneq_sharadar', 'cashAndCashEquivalents_financial'], [14, 'inventory_tiingo', 'inventory_alpha', 'inventory_eod', 'inventory_finnhub', 'inventory_sharadar', 'inventory_financial'], [15, 'accoci_tiingo', 'comprehensiveIncomeNetOfTax_alpha', 'accumulatedOtherComprehensiveIncome_eod', 'otherInvestingCashFlowItemsTotal_finnhub', 'accoci_sharadar', 'accumulatedOtherComprehensiveIncomeLoss_financial'], [16, 'acctPay_tiingo', 'currentAccountsPayable_alpha', 'accountsPayable_eod', 'accountsPayable_finnhub', 'payables_sharadar', 'accountsPayables_financial'], [17, 'investmentsAcqDisposals_tiingo', 'cashAndShortTermInvestments_alpha', 'cashAndShortTermInvestments_eod', 'cashShortTermInvestments_finnhub', 'cashneq_sharadar', 'cashAndShortTermInvestments_financial'], [18, 'netIncComStock_tiingo', 'commonStock_alpha', 'commonStock_eod', 'commonStock_finnhub', 'dps_sharadar', 'commonStock_financial'], [19, 'acctRec_tiingo', 'currentNetReceivables_alpha', 'netReceivables_eod', 'accountsReceivables_finnhub', 'receivables_sharadar', 'netReceivables_financial'], [20, 'capex_tiingo', 'capitalExpenditures_alpha', 'capitalExpenditures_eod', 'capex_finnhub', 'capex_sharadar', 'capitalExpenditure_financial'], [21, 'equity_tiingo', 'totalShareholderEquity_alpha', 'totalStockholderEquity_eod', 'liabilitiesShareholdersEquity_finnhub', 'equity_sharadar', 'totalStockholdersEquity_financial']]