# Functions

In [27]:
def eod(ticker):
    ''' Libraries ''' 
    import requests
    import os
    import pandas as pd
    from urllib.request import urlopen
    import functools as ft
    from eodhd import APIClient
    import os
    from eod import EodHistoricalData
    
    '''Request'''
    api_key = '60ee983ba13887.41798715'
    client = EodHistoricalData(api_key)
    data = client.get_fundamental_equity(f'{ticker}')
    data['Financials'].keys()

    ''' Data Transformation'''
    tabla = pd.read_excel('../Merge.xlsx')
    columns = ['date'] + list(tabla.tag_eod)
    '''
    Balance Sheet
    '''
    df = pd.DataFrame(data['Financials']['Balance_Sheet'])
    df_balance = pd.DataFrame()
    for j in range(len(df)):
        try:
            df2 = pd.DataFrame(df.iloc[j].yearly, index=[0])
            df_balance = pd.concat([df_balance, df2], axis=0)
        except:
            pass
    '''
    Cash Flow
    '''
    df = pd.DataFrame(data['Financials']['Cash_Flow'])
    df_cash = pd.DataFrame()
    for k in range(len(df)):
        try:
            df2 = pd.DataFrame(df.iloc[k].yearly, index=[0])
            df_cash = pd.concat([df_cash, df2], axis=0)
        except:
            pass
    '''
    Income Statement
    '''
    df = pd.DataFrame(data['Financials']['Income_Statement'])
    df_income = pd.DataFrame()
    for p in range(len(df)):
        try:
            df2 = pd.DataFrame(df.iloc[p].yearly, index=[0])
            df_income = pd.concat([df_income, df2], axis=0)
        except:
            pass
    dfs = [df_cash, df_income, df_balance]
    df_final = ft.reduce(lambda left, right: pd.merge(left, right, on='date'), dfs)
    
    df_final['date']= pd.to_datetime(df_final.date)
    df_final['date']= df_final.date.dt.strftime('%Y-%m')
    df_final = df_final[columns]
    df_final.insert(1, 'ticker', ticker)

    return df_final

In [29]:
eod('MS')

,date,ticker,totalAssets,totalLiab,sellingGeneralAdministrative,researchDevelopment,ebitda,currentDeferredRevenue,costOfRevenue,grossProfit,...,cashAndEquivalents,inventory,accumulatedOtherComprehensiveIncome,accountsPayable,cashAndShortTermInvestments,commonStock,netReceivables,capitalExpenditures,totalStockholderEquity,changeToOperatingActivities
0,2021-12,MS,1188140000000.00,1081542000000.00,24526000000.00,None,25164000000.00,None,4707000000.00,56414000000.00,...,119331000000.00,None,-3102000000.00,228685000000.00,189668000000.00,20000000.00,96018000000.00,2308000000,105441000000.00,-4918000000.00
1,2020-12,MS,1115862000000.00,1012713000000.00,23319000000.00,None,23384000000.00,None,6778000000.00,3788000000.00,...,95862000000.00,None,-1962000000.00,227437000000.00,177835000000.00,20000000.00,97737000000.00,1444000000,101781000000.00,-38240000000.00
2,2019-12,MS,778510000000.00,812732000000.00,21031000000.00,None,26153000000.00,None,14897000000.00,36725000000.00,...,45366000000.00,None,-2788000000.00,197834000000.00,49659000000.00,20000000.00,55646000000.00,1826000000,81549000000.00,21101000000.00
3,2018-12,MS,853531000000.00,772125000000.00,19648000000.00,0.00,23028000000.00,None,12479000000.00,36301000000.00,...,21299000000.00,None,-2292000000.00,179559000000.00,51840000000.00,20000000.00,53298000000.00,1865000000,80246000000.00,-14916000000.00
4,2017-12,MS,851733000000.00,773267000000.00,18957000000.00,0.00,17741000000.00,None,7790000000.00,34645000000.00,...,21348000000.00,374508000000.00,-3060000000.00,191510000000.00,124966000000.00,20000000.00,56187000000.00,1629000000,77391000000.00,18467000000.00
5,2016-12,MS,814949000000.00,737772000000.00,17665000000.00,0.00,15481000000.00,None,5238000000.00,30933000000.00,...,None,341053000000.00,-2643000000.00,190513000000.00,123473000000.00,20000000.00,46460000000.00,1276000000,76050000000.00,17304000000.00
6,2015-12,MS,787465000000.00,711281000000.00,17783000000.00,0.00,14919000000.00,None,4634000000.00,32062000000.00,...,None,313463000000.00,-1656000000.00,186626000000.00,157535000000.00,20000000.00,45407000000.00,1373000000,75182000000.00,-49195000000.00
7,2014-12,MS,801510000000.00,729406000000.00,19459000000.00,0.00,9771000000.00,None,25694000000.00,34275000000.00,...,None,335575000000.00,-1248000000.00,181069000000.00,156907000000.00,20000000.00,48961000000.00,992000000,70900000000.00,-55431000000.00
8,2013-12,MS,832702000000.00,763672000000.00,18045000000.00,0.00,10695000000.00,None,25333000000.00,32417000000.00,...,None,340503000000.00,-1093000000.00,157125000000.00,152516000000.00,20000000.00,57104000000.00,1316000000,65921000000.00,None
9,2012-12,MS,780960000000.00,715532000000.00,17535000000.00,0.00,8056000000.00,None,24024000000.00,26112000000.00,...,None,307472000000.00,-516000000.00,127722000000.00,117743000000.00,20000000.00,64288000000.00,1312000000,62109000000.00,None
10,2011-12,MS,749898000000.00,679820000000.00,18218000000.00,0.00,14046000000.00,None,25062000000.00,15865000000.00,...,None,305848000000.00,-157000000.00,2292000000.00,76766000000.00,20000000.00,48669000000.00,1304000000,62049000000.00,None
11,2010-12,MS,807698000000.00,742291000000.00,17713000000.00,0.00,13382000000.00,None,23841000000.00,31622000000.00,...,None,336395000000.00,-467000000.00,2572000000.00,66795000000.00,16000000.00,54150000000.00,1201000000,57211000000.00,None
12,2009-12,MS,771462000000.00,718682000000.00,17000000000.00,0.00,9339000000.00,None,21657000000.00,7603000000.00,...,None,299778000000.00,-560000000.00,2597000000.00,55703000000.00,15000000.00,51736000000.00,2877000000,46688000000.00,None
13,2008-12,MS,658812000000.00,607981000000.00,12306000000.00,None,40504000000.00,None,101000000.00,111000000.00,...,None,278325000000.00,-125000000.00,120950000000.00,137742000000.00,12000000.00,45587000000.00,1400000000,50831000000.00,None
14,2007-12,MS,1045409000000.00,1014140000000.00,16552000000.00,None,61817000000.00,None,24470000000.00,60858000000.00,...,None,374963000000.00,-199000000.00,1724000000.00,25598000000.00,12000000.00,24331000000.00,1469000000,31269000000.00,None
15,2006-12,MS,1120645000000.00,1085281000000.00,14387000000.00,None,53560000000.00,None,22738000000.00,53813000000.00,...,None,380853000000.00,-35000000.00,142542000000.00,50171000000.00,12000000.00,17333000000.00,0,35364000000.00,None
16,2005-12,MS,898523000000.00,869341000000.00,11313000000.00,None,32037000000.00,None,19087000000.00,32994000000.00,...,None,260615000000.00,-190000000.00,117035000000.00,29414000000.00,12000000.00,62146000000.00,540000000,29182000000.00,None
17,2004-12,MS,775410000000.00,747204000000.00,9880000000.00,None,21953000000.00,None,17040000000.00,22509000000.00,...,None,222792000000.00,None,137820000000.00,32811000000.00,12000000.00,18508000000.00,569000000,28206000000.00,None
18,2003-12,MS,602843000000.00,575166000000.00,8545000000.00,None,18780000000.00,None,15395000000.00,19538000000.00,...,None,201626000000.00,None,102500000000.00,29692000000.00,12000000.00,9912000000.00,603000000,24867000000.00,None
19,2002-12,MS,529499000000.00,506404000000.00,7933000000.00,None,17390000000.00,None,14653000000.00,17589000000.00,...,None,173388000000.00,None,92839000000.00,29212000000.00,12000000.00,7142000000.00,1124000000,21885000000.00,None
20,2001-12,MS,482628000000.00,460702000000.00,9397000000.00,None,27103000000.00,None,16535000000.00,27192000000.00,...,None,150848000000.00,None,98050000000.00,26596000000.00,12000000.00,11745000000.00,1998000000,20716000000.00,None
21,2000-12,MS,426794000000.00,407123000000.00,10936000000.00,None,27429000000.00,None,18019000000.00,27394000000.00,...,None,130818000000.00,None,97618000000.00,18819000000.00,12000000.00,7359000000.00,836000000,19271000000.00,None
22,1999-12,MS,366967000000.00,349553000000.00,8398000000.00,None,19659000000.00,None,None,None,...,None,None,None,None,12325000000.00,12000000.00,36922000000.00,656000000,17014000000.00,None
23,1998-12,MS,317590000000.00,302072000000.00,6636000000.00,None,19357000000.00,None,None,None,...,None,None,None,None,16878000000.00,None,26576000000.00,0,15518000000.00,None
24,1997-12,MS,302287000000.00,287332000000.00,6019000000.00,None,15418000000.00,None,None,None,...,None,None,None,None,8255000000.00,None,30227000000.00,301000000,14955000000.00,None
25,1996-12,MS,238860000000.00,227158000000.00,7921000000.00,None,4766500000.00,None,1531000000.00,20640000000.00,...,None,None,-12000000.00,25560000000.00,6544000000.00,6000000.00,39264000000.00,152000000,11702000000.00,None
26,1995-12,MS,None,None,1981600000.00,None,2980700000.00,None,None,None,...,None,None,None,None,None,None,None,0,None,None
27,1994-12,MS,None,None,1764200000.00,None,2321900000.00,None,None,None,...,None,None,None,None,None,None,None,0,None,None
28,1993-12,MS,None,None,1703900000.00,None,1862800000.00,None,None,None,...,None,None,None,None,None,None,None,0,None,None
29,1992-12,MS,None,None,1456800000.00,None,5155900000.00,None,None,None,...,None,None,None,None,None,None,None,66300000,None,None
30,1991-12,MS,None,None,1396000000.00,None,4697000000.00,None,None,None,...,None,None,None,None,None,None,None,211400000,None,None
31,1990-12,MS,None,None,1057000000.00,None,4181200000.00,None,None,None,...,None,None,None,None,None,None,None,165300000,None,None
32,1989-12,MS,None,None,1137600000.00,None,4116700000.00,None,None,None,...,None,None,None,None,None,None,None,70600000,None,None

In [4]:
def alpha_vantage(ticker, period='annualReports'):
    ''' Libraries ''' 
    import requests
    import os
    import pandas as pd

    from urllib.request import urlopen
    import functools as ft

    ''' taggin function'''
    def tag(nombre, api):
        name = nombre + '_'+api
        return name
        

    ''' Request'''
    url = f'https://www.alphavantage.co/query?function=Cash_flow&symbol={ticker}&apikey=6DWJBYP02X4S13GL'
    r = requests.get(url)
    data = r.json()
    df_cash = pd.DataFrame(data[period])
    

    url = f'https://www.alphavantage.co/query?function=Balance_Sheet&symbol={ticker}&apikey=6DWJBYP02X4S13GL'
    r = requests.get(url)
    data = r.json()
    df_balance = pd.DataFrame(data[period])

    url = f'https://www.alphavantage.co/query?function=Income_Statement&symbol={ticker}&apikey=6DWJBYP02X4S13GL'
    r = requests.get(url)
    data = r.json()
    df_income = pd.DataFrame(data[period])

    dfs = [ df_cash, df_balance , df_income]
    df_alpha = ft.reduce(lambda left, right: pd.merge(left, right, on='fiscalDateEnding'),dfs )
    
    tabla = pd.read_excel(r'../Merge.xlsx')
    columnas_Alpha = ['fiscalDateEnding'] + tabla.tag_alpha.tolist()
    
    df_alpha = df_alpha[columnas_Alpha]
    df_alpha = df_alpha.loc[:, ~df_alpha.columns.duplicated()]

    df_alpha.fiscalDateEnding = pd.to_datetime(df_alpha.fiscalDateEnding)
    dict_alpha = {}
    
    '''
    for i in range(len(df_alpha.columns)):
        dict_alpha[df_alpha.columns[i]] = tag(df_alpha.columns[i],'alpha' )
    df_alpha.rename(columns=dict_alpha, inplace=True)
    ''' 
    df_alpha.insert(0,'ticker' , f'{ticker}')
    df_alpha.insert(1, 'date',df_alpha.fiscalDateEnding.dt.strftime('%Y-%m'))
    
    return df_alpha

In [5]:
alpha_vantage('AAPL')

,ticker,date,fiscalDateEnding,totalAssets,totalLiabilities,sellingGeneralAndAdministrative,researchAndDevelopment,ebitda,deferredRevenue,costOfRevenue,...,inventory,operatingIncome,comprehensiveIncomeNetOfTax,currentAccountsPayable,cashAndShortTermInvestments,commonStock,currentNetReceivables,capitalExpenditures,totalShareholderEquity,changeInOperatingAssets
0,AAPL,2022-09,2022-09-30,352755000000,302083000000,25094000000,26251000000,130207000000,20312000000,248640000000,...,4946000000,119437000000,88531000000,64115000000,48304000000,64849000000,60932000000,10708000000,50672000000,14358000000
1,AAPL,2021-09,2021-09-30,351002000000,287912000000,21973000000,21914000000,123136000000,19512000000,234954000000,...,6580000000,108949000000,95249000000,54763000000,62639000000,57365000000,51506000000,11085000000,63090000000,24712000000
2,AAPL,2020-09,2020-09-30,323888000000,258549000000,19916000000,18752000000,81020000000,16843000000,189475000000,...,4061000000,66288000000,57453000000,42296000000,90943000000,50779000000,37445000000,7309000000,65339000000,1245000000
3,AAPL,2019-09,2019-09-30,338516000000,248028000000,18245000000,16217000000,81860000000,13622000000,180027000000,...,4106000000,63930000000,58037000000,46236000000,100557000000,45174000000,45804000000,10495000000,90488000000,-3760000000
4,AAPL,2018-09,2018-09-30,365725000000,258578000000,16705000000,14236000000,87046000000,14766000000,163756000000,...,3956000000,70898000000,56505000000,55888000000,25913000000,40201000000,48995000000,13313000000,107147000000,12927000000

In [24]:
def tiingo(ticker):
        ''' Libraries ''' 
        import requests
        import os
        import pandas as pd
        from urllib.request import urlopen
        import requests
        ''' Reqyuest ''' 
        headers = {
                'Content-Type': 'application/json',
                'Authorization' : 'Token 41215ee240ce2f36eb1cd500d85f8663801366e2'
                }
        requestResponse = requests.get(f"https://api.tiingo.com/tiingo/fundamentals/{ticker}/statements",
                                        headers=headers)
        df_tiingo = pd.DataFrame(requestResponse.json())
        
        tabla = pd.read_excel(r'../Merge.xlsx')
        columnas_tiingo = ['ticker', 'date', 'quarter'] +  tabla.tag_tiingo.tolist()
        columnas_tiingo.remove('opMargin')


        ''' Transform ''' 
        df_main = pd.DataFrame()
        for j in range(len(df_tiingo)): # This iterator finds all rows
        
                dict_tiingo = {}
                '''incomeStatement''' 
                for i in range(len(df_tiingo.iloc[j]['statementData']['incomeStatement'])): # This iterator finds all collumns within this dictionary
                        column_name = df_tiingo.iloc[j]['statementData']['incomeStatement'][i]['dataCode']
                        value       = df_tiingo.iloc[j]['statementData']['incomeStatement'][i]['value'] 
                        dict_tiingo[column_name]=value
                #print(j , len(dict_tiingo))

                ''' BalanceSheet'''
                for i in range(len(df_tiingo.iloc[j]['statementData']['balanceSheet'])):
                        column_name = df_tiingo.iloc[j]['statementData']['balanceSheet'][i]['dataCode']
                        value       = df_tiingo.iloc[j]['statementData']['balanceSheet'][i]['value'] 
                        dict_tiingo[column_name]=value
                        
                #print(j , len(dict_tiingo))

                '''CashFlow'''
                for i in range(len(df_tiingo.iloc[j]['statementData']['cashFlow'])):
                        column_name = df_tiingo.iloc[j]['statementData']['cashFlow'][i]['dataCode']
                        value       = df_tiingo.iloc[j]['statementData']['cashFlow'][i]['value'] 
                        dict_tiingo[column_name]=value
                        
                #print(j , len(dict_tiingo), df_tiingo.iloc[j].date, df_tiingo.iloc[j].quarter)
                df = pd.DataFrame(dict_tiingo, index=[1])
                columns = df.columns.sort_values()
                df = df[columns]
                df.insert(0, 'ticker', f'{ticker}')
                df.insert(1, 'date',df_tiingo.iloc[j].date )
                df.insert(2, 'quarter', df_tiingo.iloc[j].quarter)
                df_main = pd.concat([df_main, df], axis=0)
                df_main = df_main[df_main.quarter !=4]

                df_main['date'] = pd.to_datetime(df_main.date)
                df_main['date'] = df_main.date.dt.strftime('%Y-%m')
        return df_main[columnas_tiingo]

In [22]:
tiingo('IBM')

,ticker,date,quarter,totalAssets,totalLiabilities,sga,rnd,ebitda,deferredRev,costRev,...,cashAndEq,inventory,opinc,accoci,acctPay,investmentsAcqDisposals,netIncComStock,acctRec,capex,equity
1,IBM,2022 - 09,3,1.258500e+11,1.057030e+11,4.391000e+09,1.611000e+09,-3.025000e+09,1.415700e+10,6.677000e+09,...,7.975000e+09,1.794000e+09,-4.206000e+09,-1.713800e+10,3.806000e+09,-1.194000e+09,-3.196000e+09,6.428000e+09,-4.470000e+08,2.007600e+10
1,IBM,2022 - 06,2,1.275030e+11,1.080260e+11,4.855000e+09,1.673000e+09,3.192000e+09,1.559100e+10,7.246000e+09,...,7.254000e+09,1.684000e+09,2.018000e+09,-2.216900e+10,3.707000e+09,-2.820000e+08,1.392000e+09,6.776000e+09,-4.930000e+08,1.940900e+10
1,IBM,2022 - 03,1,1.332750e+11,1.141620e+11,4.597000e+09,1.679000e+09,2.261000e+09,1.694900e+10,6.862000e+09,...,1.022000e+10,1.776000e+09,9.340000e+08,-2.253200e+10,3.453000e+09,-3.430000e+08,7.330000e+08,6.966000e+09,-3.780000e+08,1.905000e+10
1,IBM,2021 - 12,0,1.320010e+11,1.130050e+11,1.874500e+10,6.488000e+09,1.343900e+10,1.609500e+10,2.586500e+10,...,6.957000e+09,1.649000e+09,5.991000e+09,-2.323400e+10,3.955000e+09,-4.140000e+08,5.743000e+09,7.756000e+09,-2.381000e+09,1.890100e+10
1,IBM,2021 - 09,3,1.442140e+11,1.218580e+11,4.306000e+09,1.606000e+09,2.880000e+09,1.622900e+10,6.145000e+09,...,7.807000e+09,1.891000e+09,1.103000e+09,-2.730200e+10,4.248000e+09,1.090000e+08,1.130000e+09,7.508000e+09,-6.370000e+08,2.222800e+10
1,IBM,2021 - 06,2,1.468140e+11,1.247470e+11,4.849000e+09,1.641000e+09,3.387000e+09,1.738500e+10,6.366000e+09,...,7.565000e+09,1.807000e+09,1.193000e+09,-2.765200e+10,4.214000e+09,-2.270000e+08,1.325000e+09,7.629000e+09,-6.880000e+08,2.194200e+10
1,IBM,2021 - 03,1,1.486290e+11,1.271160e+11,4.688000e+09,1.616000e+09,2.747000e+09,1.835000e+10,6.160000e+09,...,1.067300e+10,1.828000e+09,5.230000e+08,-2.825700e+10,4.140000e+09,-3.350000e+08,9.550000e+08,7.245000e+09,-5.300000e+08,2.138900e+10
1,IBM,2020 - 12,0,1.559710e+11,1.352440e+11,2.056100e+10,6.262000e+09,1.221300e+10,1.573800e+10,2.431400e+10,...,1.365100e+10,1.812000e+09,3.860000e+09,-2.933700e+10,4.033000e+09,-1.530000e+08,5.590000e+09,6.485000e+09,-3.042000e+09,2.059700e+10
1,IBM,2020 - 09,3,1.541280e+11,1.327940e+11,4.647000e+09,1.515000e+09,3.832000e+09,1.550100e+10,9.130000e+09,...,1.455300e+10,1.949000e+09,2.149000e+09,-2.858400e+10,3.985000e+09,7.600000e+08,1.698000e+09,7.022000e+09,-8.280000e+08,2.120800e+10
1,IBM,2020 - 06,2,1.542000e+11,1.335120e+11,5.248000e+09,1.582000e+09,3.572000e+09,1.625600e+10,9.423000e+09,...,1.218800e+10,1.869000e+09,1.894000e+09,-2.875700e+10,4.719000e+09,-1.263000e+09,1.361000e+09,7.480000e+09,-6.970000e+08,2.055100e+10
1,IBM,2020 - 03,1,1.534030e+11,1.332750e+11,5.955000e+09,1.625000e+09,1.909000e+09,1.714600e+10,9.649000e+09,...,1.137000e+10,1.786000e+09,2.760000e+08,-2.928300e+10,4.172000e+09,-1.780000e+08,1.175000e+09,8.543000e+09,-7.370000e+08,1.999900e+10
1,IBM,2019 - 12,0,1.521860e+11,1.312020e+11,1.872400e+10,5.910000e+09,1.689400e+10,1.587700e+10,2.618100e+10,...,8.313000e+09,1.619000e+09,8.550000e+09,-2.859700e+10,4.896000e+09,6.988000e+09,9.431000e+09,9.603000e+09,-2.370000e+09,2.084100e+10

In [25]:
def finnhub(ticker):

    ''' Libraries ''' 
    import requests
    import os
    import pandas as pd

    from urllib.request import urlopen
    import functools as ft
    import finnhub
    finnhub_client = finnhub.Client(api_key='cagpcp2ad3i02fchaga0')





    '''
    Balance Sheet
    '''
    data = finnhub_client.financials(f'{ticker}', 'bs', 'annual')
    df_balance = pd.DataFrame()
    for j in range(len(data['financials'])):
        df = pd.DataFrame(data['financials'][j], index=[1])
        df_balance = pd.concat([df_balance, df], axis=0)
    cols = list(df_balance.columns)
    cols.remove('period')
    cols.insert(0,'period')
    df_balance = df_balance
    #display(df_balance[cols].head(3))

    ''' 
    Income Statement
    ''' 
    data = finnhub_client.financials(f'{ticker}', 'ic', 'annual')
    df_income = pd.DataFrame()
    for k in range(len(data['financials'])):
        df = pd.DataFrame(data['financials'][k], index=[1])
        df_income = pd.concat([df_income, df], axis=0)
    cols = list(df_income.columns)
    cols.remove('period')
    cols.insert(0,'period')
    df_income = df_income[cols]
    #display(df_income.head(3))

    '''
    Cash Flow
    ''' 
    data = finnhub_client.financials(f'{ticker}', 'cf', 'annual')
    df_cash = pd.DataFrame()
    for q in range(len(data['financials'])):
        try:
            df = pd.DataFrame(data['financials'][q], index=[1])
            df_cash  = pd.concat([df_cash, df], axis=0)
        except:
            print(q)
            pass
    cols = list(df_cash.columns)
    cols.remove('period')
    cols.insert(0, 'period')
    df_cash = df_cash[cols]
    #display(df_cash.head(3))

    dfs = [df_cash, df_balance, df_income] 
    df_final = ft.reduce(lambda left, right: pd.merge(left, right, on='period'), dfs)

    df_final['date'] = pd.to_datetime(df_final['period'])
    df_final['date'] = df_final.date.dt.strftime('%Y-%m')
    df_final['ticker'] = ticker
    tabla = pd.read_excel('../Merge.xlsx')
    columns = ['date', 'ticker'] + list(tabla.tag_finn)

    return df_final[columns]
finnhub('IBM')

,date,ticker,totalAssets,totalLiabilities,sgaExpense,researchDevelopment,ebit,deferredTaxesInvestmentTaxCredit,costOfGoodsSold,grossIncome,...,cashEquivalents,inventory,otherInvestingCashFlowItemsTotal,accountsPayable,cashShortTermInvestments,commonStock,accountsReceivables,capex,liabilitiesShareholdersEquity,changesinWorkingCapital
0,2021-12,IBM,132001,113100,18608,6488,6109,-2001,25865,31485,...,6650,1649,-3207,3955,7250,450,7184,-2768,132001,1962
1,2020-12,IBM,155971,135373,18539,6262,5735,-3203,24314,30865,...,13188,1812,202,4033,13788,449,6166,-3230,155971,8248
2,2019-12,IBM,152186,131345,19748,5963,8201,-1527,26181,31533,...,8172,1619,-24029,4896,8868,448,8294,-2907,152186,1225
3,2018-12,IBM,123382,106587,18217,5379,13993,853,42655,36936,...,11379,1682,-949,6558,11999,447,7432,-3964,123382,553
4,2017-12,IBM,125356,107762,19120,5590,13320,-931,42196,36943,...,11972,1583,-3308,6451,12592,446,8928,-3773,125356,6812
5,2016-12,IBM,117470,99224,19440,5726,13886,-1132,41403,38516,...,7826,1553,-6778,6209,8538,53935,9182,-4150,117470,1357
6,2015-12,IBM,110495,96233,19512,5247,16562,1387,41057,40684,...,7686,1551,-4008,6028,8200,53262,8333,-4151,110495,-2197
7,2014-12,IBM,117271,105403,21385,5437,21830,-237,46386,46407,...,8476,2103,1182,6864,8500,52666,9090,-4183,117271,-1767
8,2013-12,IBM,126223,103431,22214,5743,21316,-1610,49683,48684,...,10716,2310,-3186,7461,11102,51594,10465,-4140,126223,-2444
9,2012-12,IBM,119213,100353,23463,5816,22999,797,52513,50361,...,10412,2287,-4287,7952,11138,50110,10667,-4717,119213,-2451
10,2011-12,IBM,116433,96297,22865,6258,21891,1212,56778,50138,...,11922,2596,271,8517,11922,48129,28391,-4667,116435,-2390
11,2010-12,IBM,113450,90404,20943,6026,20735,1294,53857,46013,...,10661,2450,-3753,7804,11651,45418,27433,-4754,113450,-1237
12,2009-12,IBM,109022,86387,20193,5820,17485,1773,51972,43787,...,12183,2493,-2653,7436,13974,41810,26088,-4077,109024,418
13,2008-12,IBM,109524,96059,23386,6337,15938,1900,57969,45661,...,12741,2700,-4398,7014,12907,39129,26734,-4887,109525,-1193
14,2007-12,IBM,120432,91961,22060,6153,13516,740,57057,41729,...,14991,2664,830,8054,16146,35188,28013,-5505,120430,-890
15,2006-12,IBM,103233,74727,20259,6107,11928,1724,53129,38294,...,8022,2810,-6382,7964,10656,31271,26191,-5166,103233,-1780
16,2005-12,IBM,105748,72650,21314,5842,9376,2185,54602,36532,...,12568,2841,211,7349,13686,28926,23712,-4634,105748,56
17,2004-12,IBM,111003,79315,20079,5874,9616,1794,60724,35569,...,10053,3316,-290,9444,10570,26673,27004,-5056,111003,-35
18,2003-12,IBM,104457,76593,18601,5314,8632,790,56584,32547,...,7290,2942,-146,8460,7647,16269,28342,-4974,104457,895
19,2002-12,IBM,96484,73702,18738,4750,6796,-67,50902,30284,...,5382,3148,-1547,7630,5975,14858,27358,-5350,96484,2963
20,2001-12,IBM,90303,66855,17048,4986,9855,664,51178,31889,...,6330,4304,193,7047,6393,14248,27018,-6055,90303,585
21,2000-12,IBM,88349,67725,17393,5084,9101,44,53511,31578,...,3563,4765,1883,8192,3722,12647,30726,-5884,88349,-3036
22,1999-12,IBM,87495,66984,16294,5505,9755,-713,55994,31554,...,5043,4868,4754,6400,5831,12009,27618,-6423,87495,1318
23,1998-12,IBM,86100,66667,16662,5046,9164,-606,50795,30872,...,5375,5200,639,6252,5768,10368,26781,-6770,86100,-1180
24,1997-12,IBM,81499,61683,16634,4877,9098,358,47899,30609,...,7106,5139,952,5215,7553,8853,23826,-7107,81499,-1869
25,1996-12,IBM,81132,59504,16854,5089,8596,11,45408,30539,...,7687,5870,455,4767,8137,8005,23167,-6178,81132,1179
26,1995-12,IBM,80292,57869,16766,4170,9431,1392,41573,30367,...,5513,6323,515,4511,7701,7741,23402,-5567,80292,154
27,1994-12,IBM,81091,57678,15916,4363,5005,825,38768,25284,...,7922,6334,1013,3778,10554,8423,21533,-4439,81091,4435
28,1993-12,IBM,81113,61375,18282,5558,308,-1335,38568,24148,...,5861,7565,459,3400,7133,8071,19412,-4661,81113,5607
29,1992-12,IBM,86705,59081,19526,6522,3406,-3356,35069,29454,...,4446,8385,625,3147,5649,6563,21604,-6503,86705,1870
30,1991-12,IBM,92473,55794,21375,6644,4674,0,32073,32693,...,3945,9844,825,3507,5151,6531,24317,-8511,92473,-1712
31,1990-12,IBM,87568,44736,20709,6554,10953,0,30715,38216,...,3853,10108,1257,3367,4551,6357,22644,-8401,87568,-2987
32,1989-12,IBM,77734,39225,21289,6827,6893,0,27701,35009,...,3700,9463,1013,3167,4961,6341,20164,-8093,77734,-1737
33,1988-12,IBM,73037,33528,19362,5925,8746,0,25648,34033,...,4175,9565,2588,2702,6123,6442,18100,-6708,73037,-4357
34,1987-12,IBM,70029,31766,16540,5434,8160,0,25122,30134,...,3467,8659,1438,2632,7421,6417,16741,-5243,70029,-2787
35,1986-12,IBM,57814,23440,15550,5221,8236,0,23153,29007,...,755,8039,-1205,1970,7257,6321,10825,-5546,57814,515