In [1]:
''' Libraries ''' 
import requests
import os
import pandas as pd
from fuzzywuzzy import process, fuzz
from urllib.request import urlopen

In [11]:
def tiingo(ticker):

        import requests
        ''' Download ''' 
        headers = {
                'Content-Type': 'application/json',
                'Authorization' : 'Token 41215ee240ce2f36eb1cd500d85f8663801366e2'
                }
        requestResponse = requests.get(f"https://api.tiingo.com/tiingo/fundamentals/{ticker}/statements",
                                        headers=headers)
        df_tiingo = pd.DataFrame(requestResponse.json())
        
        tabla = pd.read_excel(r'../Merge.xlsx')
        columnas_tiingo = ['ticker', 'date', 'quarter'] +  tabla.tag_tiingo.tolist()
        columnas_tiingo.remove('opMargin')


        ''' Transform ''' 
        df_main = pd.DataFrame()
        for j in range(len(df_tiingo)): # This iterator finds all rows
        
                dict_tiingo = {}
                '''incomeStatement''' 
                for i in range(len(df_tiingo.iloc[j]['statementData']['incomeStatement'])): # This iterator finds all collumns within this dictionary
                        column_name = df_tiingo.iloc[j]['statementData']['incomeStatement'][i]['dataCode']
                        value       = df_tiingo.iloc[j]['statementData']['incomeStatement'][i]['value'] 
                        dict_tiingo[column_name]=value
                #print(j , len(dict_tiingo))

                ''' BalanceSheet'''
                for i in range(len(df_tiingo.iloc[j]['statementData']['balanceSheet'])):
                        column_name = df_tiingo.iloc[j]['statementData']['balanceSheet'][i]['dataCode']
                        value       = df_tiingo.iloc[j]['statementData']['balanceSheet'][i]['value'] 
                        dict_tiingo[column_name]=value
                        
                #print(j , len(dict_tiingo))

                '''CashFlow'''
                for i in range(len(df_tiingo.iloc[j]['statementData']['cashFlow'])):
                        column_name = df_tiingo.iloc[j]['statementData']['cashFlow'][i]['dataCode']
                        value       = df_tiingo.iloc[j]['statementData']['cashFlow'][i]['value'] 
                        dict_tiingo[column_name]=value
                        
                #print(j , len(dict_tiingo), df_tiingo.iloc[j].date, df_tiingo.iloc[j].quarter)
                df = pd.DataFrame(dict_tiingo, index=[1])
                columns = df.columns.sort_values()
                df = df[columns]
                df.insert(0, 'ticker', f'{ticker}')
                df.insert(1, 'date',df_tiingo.iloc[j].date )
                df.insert(2, 'quarter', df_tiingo.iloc[j].quarter)
                df_main = pd.concat([df_main, df], axis=0)
                df_main = df_main[df_main.quarter !=4]
        return df_main[columnas_tiingo]

In [13]:
df = tiingo('AAPL')
df[df.quarter==0][['date', 'quarter',  'sga']]

         date  quarter           sga
1  2022-09-24        0  2.509400e+10
1  2021-09-25        0  2.197300e+10
1  2020-09-26        0  1.991600e+10

In [30]:
df_main = pd.DataFrame()
for j in range(len(df_tiingo)): # This iterator finds all rows
    '''incomeStatement''' 
    dict_tiingo = {}
    
    for i in range(len(df_tiingo.iloc[j]['statementData']['incomeStatement'])): # This iterator finds all collumns within this dictionary
        column_name = df_tiingo.iloc[j]['statementData']['incomeStatement'][i]['dataCode']
        value       = df_tiingo.iloc[j]['statementData']['incomeStatement'][i]['value'] 
        dict_tiingo[column_name]=value
    #print(j , len(dict_tiingo))

    ''' BalanceSheet'''
    for i in range(len(df_tiingo.iloc[j]['statementData']['balanceSheet'])):
        column_name = df_tiingo.iloc[j]['statementData']['balanceSheet'][i]['dataCode']
        value       = df_tiingo.iloc[j]['statementData']['balanceSheet'][i]['value'] 
        dict_tiingo[column_name]=value
        
    #print(j , len(dict_tiingo))

    '''CashFlow'''
    for i in range(len(df_tiingo.iloc[j]['statementData']['cashFlow'])):
        column_name = df_tiingo.iloc[j]['statementData']['cashFlow'][i]['dataCode']
        value       = df_tiingo.iloc[j]['statementData']['cashFlow'][i]['value'] 
        dict_tiingo[column_name]=value
        
    #print(j , len(dict_tiingo), df_tiingo.iloc[j].date, df_tiingo.iloc[j].quarter)
    df = pd.DataFrame(dict_tiingo, index=[1])
    columns = df.columns.sort_values()
    df = df[columns]
    df.insert(0, 'date',df_tiingo.iloc[j].date )
    df.insert(1, 'quarter', df_tiingo.iloc[j].quarter)
    
    df_main = pd.concat([df_main, df], axis=0)
df_main

,date,quarter,accoci,acctPay,acctRec,assetsCurrent,assetsNonCurrent,businessAcqDisposals,capex,cashAndEq,...,sbcomp,sga,sharesBasic,shareswa,shareswaDil,taxAssets,taxExp,taxLiabilities,totalAssets,totalLiabilities
1,2022-09-24,4,-1.110900e+10,6.411500e+10,6.093200e+10,1.354050e+11,2.173500e+11,-1.370000e+08,-3.289000e+09,2.364600e+10,...,2.278000e+09,6.440000e+09,1.607075e+10,1.603038e+10,1.611846e+10,0.0,3.936000e+09,0.0,3.527550e+11,3.020830e+11
1,2022-09-24,0,-1.110900e+10,6.411500e+10,6.093200e+10,1.354050e+11,2.173500e+11,-3.060000e+08,-1.070800e+10,2.364600e+10,...,9.038000e+09,2.509400e+10,1.607075e+10,1.621596e+10,1.632582e+10,0.0,1.930000e+10,0.0,3.527550e+11,3.020830e+11
1,2022-06-25,3,-9.297000e+09,4.834300e+10,4.224200e+10,1.122920e+11,2.240170e+11,-2.000000e+06,-2.102000e+09,2.750200e+10,...,2.243000e+09,6.012000e+09,1.618518e+10,1.616294e+10,1.626220e+10,0.0,3.624000e+09,0.0,3.363090e+11,2.782020e+11
1,2022-03-26,2,-6.494000e+09,5.268200e+10,4.540000e+10,1.181800e+11,2.324820e+11,-1.670000e+08,-2.514000e+09,2.809800e+10,...,2.252000e+09,6.193000e+09,1.631944e+10,1.627880e+10,1.640332e+10,0.0,5.129000e+09,0.0,3.506620e+11,2.832630e+11
1,2021-12-25,1,-9.270000e+08,7.436200e+10,6.525300e+10,1.531540e+11,2.280370e+11,0.000000e+00,-2.803000e+09,3.711900e+10,...,2.265000e+09,6.449000e+09,1.640640e+10,1.639172e+10,1.651929e+10,0.0,6.611000e+09,0.0,3.811910e+11,3.092590e+11
1,2021-09-25,4,1.630000e+08,5.476300e+10,5.150600e+10,1.348360e+11,2.161660e+11,-2.000000e+07,-3.223000e+09,3.494000e+10,...,1.945000e+09,5.616000e+09,1.653017e+10,1.648712e+10,1.663510e+10,0.0,2.697000e+09,0.0,3.510020e+11,2.879120e+11
1,2021-09-25,0,1.630000e+08,5.476300e+10,5.150600e+10,1.348360e+11,2.161660e+11,-3.300000e+07,-1.108500e+10,3.494000e+10,...,7.906000e+09,2.197300e+10,1.653017e+10,1.670127e+10,1.686492e+10,0.0,1.452700e+10,0.0,3.510020e+11,2.879120e+11
1,2021-06-26,3,5.800000e+07,4.040900e+10,3.390800e+10,1.144230e+11,2.154170e+11,-4.000000e+06,-2.093000e+09,3.405000e+10,...,1.960000e+09,5.412000e+09,1.668763e+10,1.662937e+10,1.678174e+10,0.0,2.625000e+09,0.0,3.298400e+11,2.655600e+11
1,2021-03-27,2,-2.860000e+08,4.012700e+10,3.303600e+10,1.214650e+11,2.156930e+11,-9.000000e+06,-2.269000e+09,3.846600e+10,...,1.981000e+09,5.314000e+09,1.678810e+10,1.675348e+10,1.692916e+10,0.0,4.381000e+09,0.0,3.371580e+11,2.679800e+11
1,2020-12-26,1,1.790000e+08,6.384600e+10,5.862000e+10,1.541060e+11,1.999480e+11,0.000000e+00,-3.500000e+09,3.601000e+10,...,2.020000e+09,5.631000e+09,1.700180e+10,1.693512e+10,1.711369e+10,0.0,4.824000e+09,0.0,3.540540e+11,2.878300e+11
1,2020-09-26,4,-4.060000e+08,4.229600e+10,3.744500e+10,1.437130e+11,1.801750e+11,-5.100000e+07,-1.784000e+09,3.801600e+10,...,1.724000e+09,4.936000e+09,1.710254e+10,1.705762e+10,1.725652e+10,0.0,2.228000e+09,0.0,3.238880e+11,2.585490e+11
1,2020-09-26,0,-4.060000e+08,4.229600e+10,3.744500e+10,1.437130e+11,1.801750e+11,-1.524000e+09,-7.309000e+09,3.801600e+10,...,6.829000e+09,1.991600e+10,1.710254e+10,1.735212e+10,1.752821e+10,0.0,9.680000e+09,0.0,3.238880e+11,2.585490e+11
1,2020-06-27,3,-5.500000e+08,3.532500e+10,3.207500e+10,1.400650e+11,1.772790e+11,-3.390000e+08,-1.565000e+09,3.338300e+10,...,1.698000e+09,4.831000e+09,1.733734e+10,1.725029e+10,1.741915e+10,0.0,1.884000e+09,0.0,3.173440e+11,2.450620e+11
1,2020-03-28,2,-2.789000e+09,3.242100e+10,3.067700e+10,1.437530e+11,1.766470e+11,-1.760000e+08,-1.853000e+09,4.017400e+10,...,1.697000e+09,4.952000e+09,1.750192e+10,1.744040e+10,1.761876e+10,0.0,1.886000e+09,0.0,3.204000e+11,2.419750e+11
1,2019-12-28,1,-4.180000e+08,4.511100e+10,3.994600e+10,1.632310e+11,1.773870e+11,-9.580000e+08,-2.107000e+09,3.977100e+10,...,1.710000e+09,5.197000e+09,1.777306e+10,1.766016e+10,1.781842e+10,0.0,3.682000e+09,0.0,3.406180e+11,2.510870e+11

In [14]:
from tiingo import TiingoClient

config = {}
config['session'] = True
config['api_key'] = '41215ee240ce2f36eb1cd500d85f8663801366e2'

client = TiingoClient(config)

In [15]:
ticker_history = client.get_dataframe("GOOGL")
ticker_history

,adjClose,adjHigh,adjLow,adjOpen,adjVolume,close,divCash,high,low,open,splitFactor,volume
date,,,,,,,,,,,,
2022-10-28 00:00:00+00:00,96.29,96.55,92.13,92.27,43697286,96.29,0.0,96.55,92.13,92.27,1.0,43697286

In [53]:
fundamentals_stmnts = client.get_fundamentals_statements('AAPL',startDate='2016-01-01',endDate='2020-12-31',asReported=False)
df = pd.DataFrame(fundamentals_stmnts[0])
dict = {}
columns = list(pd.DataFrame(df.statementData[0]).dataCode.values)
values  = pd.DataFrame(df.statementData[0]).value.values

dict

TypeError: unhashable type: 'list'

In [47]:
import requests
headers = {
    'Content-Type': 'application/json'
}
requestResponse = requests.get("https://api.tiingo.com/tiingo/fundamentals/definitions?token=cdc6b01994c576367f8d4b815edf91f04acdf874", headers=headers)
print(requestResponse.json()[0])

{'dataCode': 'rps', 'name': 'Revenue Per Share', 'description': 'Revenue per share', 'statementType': 'overview', 'units': '$'}